{% extends "layout.html" %}
{% block body %}

<a class="nav-button" href="/Unidad">Volver</a>
<div id="error-message" style="display: none;" class="error-message"></div>
<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card card-body">
      <form action="/update_Unidad/{{Unidad.idUnidad}}" method="POST" class="mi-formulario">
        <label for="codigo_Unidad">Codigo Unidad: </label>
        <input type="text" class="solo-numeros" name="codigo_Unidad" placeholder="Codigo Unidad" value="{{Unidad.idUnidad}}"
        maxlength="11">
        <br>
        <label for="nombreUnidad">Nombre Unidad: </label>
        <input type="text" class="solo-letras" name="nombreUnidad" placeholder="Nombre Unidad" value="{{Unidad.nombreUnidad}}"
        maxlength="45">
        <br>
        <label for="contactoUnidad">Contacto Unidad: </label>
        <input type="text" class="validatable-input" name="contactoUnidad" placeholder="Contacto" value="{{Unidad.contactoUnidad}}"
        maxlength="45">
        <br>
        <label for="direccionUnidad">Direccion Unidad: </label>
        <input type="text" class="validatable-input" name="direccionUnidad" placeholder="Direccion" value="{{Unidad.direccionUnidad}}"
        maxlength="45">
        <br>
        <label for="nombreComuna">Comuna: </label>
        <select name="nombreComuna">
          {% for comuna in comuna %}
          <option value="{{ comuna.idComuna }}">{{ comuna.nombreComuna }}</option>
          {% endfor %}
        </select>
        <br>
        <label>Modalidad: </label>
        <select class="form-select" aria-label="nombreModalidad" name="idModalidad">
          <!-- Recorremos todas las modalidades y marcamos como seleccionada la actual -->
          {% for modalidad in Modalidades %}
          <option value="{{ modalidad.idModalidad }}" 
            {% if modalidad.idModalidad == Unidad.idModalidad %}selected{% endif %}>
            {{ modalidad.nombreModalidad }}
          </option>
          {% endfor %}
        </select>
        
        <button type="submit" class="agregar-button"> Guardar</button>
      </form>

    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script src="../static/js/main.js"></script>
      {% endblock %}