{% extends "layout.html" %}
{% block body %}

<div class="row">
  <div class="col-md-5">
    <button class="btn btn-primary shadow-sm" data-bs-toggle="modal" data-bs-target="#modal-add-unidad">
      <i class="bi bi-plus-lg"></i> Agregar
    </button>
    <div id="error-message" style="display: none" class="error-message"></div>
    <div class="card card-body" id="formulario" style="display: none">
      <form action="/add_Unidad" method="POST" class="mi-formulario">
        <div class="form-group">
          <label for="codigo_unidad">Código de la Unidad: </label>
          <input type="text" class="solo-numeros" name="codigo_unidad" placeholder="Codigo" maxlength="20" />
          <br />
          <label for="nombreUnidad">Nombre de la Unidad: </label>
          <input type="text" class="validatable-input" name="nombreUnidad" placeholder="Nombre" maxlength="45" />
          <br />
          <label for="contactoUnidad">Contacto: </label>
          <input type="text" class="validatable-input" name="contactoUnidad" placeholder="Contacto" maxlength="45" />
          <br />
          <label for="direccionUnidad">Dirección: </label>
          <input type="text" class="validatable-input" name="direccionUnidad" placeholder="Direccion" maxlength="45" />
          <br />
          <label for="nombreComuna">Comuna: </label>
          <select class="form-select" aria-label="nombreComuna" name="idComuna">
            <option selected>Elija su Comuna</option>
            {% for comuna in comuna %}
            <option value="{{ comuna.idComuna }}">{{ comuna.nombreComuna }}</option>
            {% endfor %}
          </select>
          <label>Modalidad: </label>
          <select class="form-select" aria-label="nombreModalidad" name="idModalidad">
            <option selected>Elija la Modalidad</option>
            {% for modalidad in Modalidades %}
            <option value="{{ modalidad.idModalidad }}">{{ modalidad.nombreModalidad }}</option>
            {% endfor %}
          </select>
        </div>
        <button class="agregar-button">Guardar</button>
      </form>
    </div>
  </div>
  <h2>Unidad</h2>
  <div style="overflow-x: auto">
    <table id="posts" class="display table table-bordered table-striped">
      <thead>
        <tr>
          <th>Código Unidad</th>
          <th>Nombre Unidad</th>
          <th>Contacto</th>
          <th>Dirección</th>
          <th>Comuna</th>
          <th>N° Equipos</th>
          <th>Modalidad</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for ubi in Unidad %}
        <tr>
          <td>{{ubi.idUnidad}}</td>
          <td>{{ubi.nombreUnidad}}</td>
          <td>{{ubi.contactoUnidad}}</td>
          <td>{{ubi.direccionUnidad}}</td>
          <td>{{ubi.nombreComuna}}</td>
          <td>{{ubi.num_equipos}}</td>
          <td>{{ubi.nombreModalidad}}</td>
          <td>
            <div class="dropdown">
              <button class="options-button">Opciones</button>
              <div class="dropdown-options">
                <a href="/edit_Unidad/{{ubi.idUnidad}}" class="success-button">Editar</a>
                <a href="/delete_Unidad/{{ubi.idUnidad}}" class="btn btn-danger">Eliminar</a>
                <a href="/mostrar_asociados_unidad/{{ubi.idUnidad}}" class="info-button">Equipos</a>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
      $(document).ready(function() {
        let table = $('#posts').DataTable({
          "paging": true,
          "searching": true,
          "ordering": true,
          "info": true,
          "lengthChange": false,
          "pageLength": 8,
          "language": {
            "search": "<div style='text-align: center; width: 100%;'>Buscar Unidad:</div>"
          }
        });
        
        // Centrar el campo de búsqueda
        $("#posts_filter").css({"text-align": "center", "width": "100%"});
      });
    </script>
  </div>
</div>
    {% include 'Organizacion/unidad.modal.html' %}
  {% endblock %}

