{% extends "layout.html" %}
{% block body %}
{% from 'funciones_macro.html' import paginacion %}

<h2>Asignaciones</h2>
<!-- Fila para botón y barra de búsqueda -->
<div>
    <!-- Barra de búsqueda -->
    <div style="display:flex; justify-content:center;">
        <input name="palabra" type="text" class="search-box" placeholder="Buscar asignación..." id="buscador" onkeyup="busqueda('myTableBody')" />
    </div>
    <!-- Botón para redirigir a agregar asignación -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addAsignacionModal">
        Agregar asignación
    </button>
    <button type="button" onclick="navigateTo('/add_asignacion')" class="btn btn-primary">
        Agregar asignación antigüo
    </button>
</div>

<!-- Tabla de asignaciones -->
<div style="overflow-x:auto;">
    <table id="posts">
        <!-- Encabezado de la tabla -->
        <thead>
            <tr>
                <td onclick="sortTable(0)">Funcionario</td>
                <td onclick="sortTable(1)">Tipo de equipo</td>
                <td onclick="sortTable(2)">Fecha de asignación</td>
                <td onclick="sortTable(3)">Fecha de devolución</td>
                <td>Actas</td>
                <td>Acciones</td>
            </tr>
        </thead>
        <!-- Contenido de la tabla -->
        <tbody id="myTableBody">
            {% for asig in asignacion %}
            <tr>
                <!-- Nombre del funcionario -->
                <td class="toCheck">{{asig.nombreFuncionario}}</td>
                
                <!-- Tipo de equipo. Si no tiene asignado un equipo coloca un '-' -->
                <td class="toCheck">{{ asig.nombreTipo_equipo if asig.nombreTipo_equipo else '-' }}</td>

                <!-- Fecha de asignación del equipo -->
                <td class="toCheck">{{ asig.fecha_inicioAsignacion.strftime('%d-%m-%Y') }}</td>

                <!-- Fecha de devolución del equipo. Si no se ha devuelto coloca un 'Sin devolver' -->
                <td class="toCheck">{{ asig.fechaDevolucion.strftime('%d-%m-%Y') if asig.fechaDevolucion else 'Sin devolver' }}</td>

                <!-- Botones de actas -->
                <td>
                    <div class="dropdown">
                        <button class="options-button">Asignaciones</button>
                        <div class="dropdown-options">
                            <a href="/asignacion/mostrar_pdf/{{asig.idAsignacion}}"
                                class="info-button desplegable-button">Asignación</a>
                            <a href="/asignacion/listar_pdf/{{asig.idAsignacion}}"
                                class="success-button desplegable-button">Firmar</a>
                        </div>
                    </div>

                    {% if asig.ActivoAsignacion != 1 %}
                    <!-- Si la asignación no está activa, se muestran opciones para devolución -->
                    <div class="dropdown">
                        <button class="options-button">Devoluciones</button>
                        <div class="dropdown-options">
                            <a href="/asignacion/mostrar_pdf_devolucion/{{asig.idAsignacion}}"
                                class="info-button desplegable-button">Devolución</a>
                            <a href="/asignacion/listar_pdf/{{asig.idAsignacion}}/devolver"
                                class="success-button desplegable-button">Firmar</a>
                        </div>
                    </div>
                    {% else %}
                    <!-- Si la asignación está activa, muestra el botón para devolverla -->
                    <a target="_self" href="/asignacion/devolver/{{ asig.idAsignacion }}"
                        class="success-button">Devolver</a>
                    {% endif %}
                </td>
                <!-- Fin botones de actas -->

                <!-- Acciones -->
                <td>
                    <a href="#" class="view-details" data-title="Asignación #{{ asig.idAsignacion }}" data-info='{{ {
                        "funcionario": {
                            "rut": asig.rutFuncionario,
                            "nombre": asig.nombreFuncionario,
                            "cargo": asig.cargoFuncionario
                        },
                        "asignacion": {
                            "id": asig.idAsignacion,
                            "fecha_inicio": asig.fecha_inicioAsignacion.strftime('%d-%m-%Y') if asig.fecha_inicioAsignacion else "N/A",
                            "fecha_devolucion": asig.fechaDevolucion.strftime('%d-%m-%Y') if asig.fechaDevolucion else "Sin devolver",
                            "observacion": asig.observacionAsignacion
                        },
                        "equipo": {
                            "tipo_equipo": asig.nombreTipo_equipo if asig.nombreTipo_equipo else "No asignado",
                            "modelo_equipo": asig.nombreModeloequipo if asig.nombreModeloequipo else "No asignado",
                            "marca_equipo": asig.nombreMarcaEquipo if asig.nombreMarcaEquipo else "No asignado"
                        }
                    } | tojson | safe }}'>
                        Detalles
                    </a>
                    <a href="/delete_asignacion/{{asig.idAsignacion}}" class="delete-button">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include 'visualizar.modal.html' %}
{% include 'GestionR.H/asignacion.modal.html' %}

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="../static/js/asignaciones.controller.js"></script>
{{ paginacion("asignacion", page, lastpage) }}
{% endblock %}