<div class="modal fade" id="addAsignacionModal" tabindex="-1" aria-labelledby="">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Encabezado -->
            <div class="modal-header">
                <h5 class="modal-title" id="addAsignacionModalLabel">Agregar asignación de equipo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <!-- Contenido -->
            <div class="modal-body">
                <form class="asignaciones" id="form-asignacion-modal" action="/asignacion/create_asignacion" method="POST">
                    <!-- Fecha de asignación -->
                    <div class="mb-3 fecha-asignacion">
                        <label for="fecha-asignacion">Fecha asignación<span style="color: red; margin-left: 5px">*</span></label>
                        <input type="date" name="fecha-asignacion" class="form-control campo-obligatorio fecha-input">
                        <div class="text-error-message"></div>
                    </div>

                    <!-- RUT del funcionario -->
                    <div class="mb-3">
                        <label for="rut_funcionario">RUT del funcionario<span style="color: red; margin-left: 5px">*</span></label>
                        <div style="display: flex; align-items: center;">
                            <input type="text" class="form-control campo-obligatorio rut-input" id="rut_funcionario" name="rut_funcionario_parcial" placeholder="Ingrese el RUT sin puntos ni guión" maxlength="8" style="width: 70%;">
                            <span style="width: 10%; display: flex; justify-content: center;">-</span>
                            <input type="text" class="form-control rut-verificador" id="rut_verificador" disabled style="width: 20%; text-align: center;" placeholder="DV">
                        </div>
                        <div class="text-error-message"></div>
                    </div>
                    <input type="hidden" class="rut_completo" id="rut_completo" name="rut_funcionario">

                    <!-- Todos los equipos sin asignar -->
                    <!-- Barra de búsqueda -->
                    <div class="mb-3">
                        <label for="searchEquipo">Buscar equipo</label>
                        <div class="d-flex">
                            <input type="text" class="form-control" id="searchEquipo" placeholder="Buscar por nombre o ID">
                            <button type="button" class="btn btn-primary ms-2 asignacion-button" onclick="asignarSeleccionados()">Asignar</button>
                            <button type="button" class="btn asignacion-button-info ms-2 asignacion-button" onclick="verDetalles()" data-bs-target="#modalViewDetails" data-bs-toggle="modal" data-bs-dismiss="modal"><i class="bi bi-info-circle"></i></button>
                        </div>
                    </div>
                    
                    <!-- Tabla con scroll vertical -->
                    <label>Equipos sin asignar</label>
                    <div class="mb-3" style="height: 150px; overflow-y: auto; border: 1px solid #ddd; border-radius: 5px;">
                        <table class="table table-sm table-hover mb-0" style="table-layout: fixed;">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col" style="width: 30px">#</th>
                                    <th scope="col">Tipo</th>
                                    <th scope="col">Marca</th>
                                    <th scope="col">Modelo</th>
                                </tr>
                            </thead>
                            <tbody id="equiposTable">
                                {% for equipo in equipos_sin_asignar %}
                                <tr data-codigo-inventario="{{ equipo.Cod_inventarioEquipo }}" data-numero-serie="{{ equipo.Num_serieEquipo }}"
                                    data-codigo-proveedor="{{ equipo.codigoproveedor_equipo }}" data-unidad="{{ equipo.nombreUnidad }}">
                                    <td><input class="no-delete-value" type="checkbox" name="equipoSeleccionado" value="{{ equipo.idEquipo }}"></td>
                                    <td>{{ equipo.nombreTipo_equipo }}</td>
                                    <td>{{ equipo.nombreMarcaEquipo }}</td>
                                    <td>{{ equipo.nombreModeloequipo }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <!-- Equipos asignados con scroll vertical -->
                    <div class="mb-3">
                        <label>Equipos asignados<span style="color: red; margin-left: 5px">*</span></label>
                        <div class="highlight-container equipos-asignados-table" style="height: 150px; overflow-y: auto; border: 1px solid #ddd; border-radius: 5px;">
                            <ul class="list-group" id="equiposAsignadosList">
                                <!-- Aquí se irán agregando los equipos seleccionados -->
                            </ul>
                        </div>
                        <div class="text-error-message"></div>
                    </div>
                    
                    <!-- Sección para seleccionar traslado -->
                    <div class="mb-3">
                        <label>¿Realiza el traslado?</label>
                        <div class="d-flex">
                            <div class="form-check me-3">
                                <input class="form-check-input" type="radio" name="traslado" id="trasladoSi" value="si">
                                <label class="form-check-label" for="trasladoSi">Sí</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="traslado" id="trasladoNo" value="no" checked>
                                <label class="form-check-label" for="trasladoNo">No</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" form="form-asignacion-modal" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalViewDetails" tabindex="-1" aria-labelledby="modalViewDetailsLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalViewDetailsLabel">Detalles del equipo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tr>
                        <td><strong>Tipo</strong></td>
                        <td id="detalleTipo"></td>
                    </tr>
                    <tr>
                        <td><strong>Marca</strong></td>
                        <td id="detalleMarca"></td>
                    </tr>
                    <tr>
                        <td><strong>Modelo</strong></td>
                        <td id="detalleModelo"></td>
                    </tr>
                    <tr>
                        <td><strong>Código Inventario</strong></td>
                        <td id="detalleCodigoInventario"></td>
                    </tr>
                    <tr>
                        <td><strong>Número de Serie</strong></td>
                        <td id="detalleNumeroSerie"></td>
                    </tr>
                    <tr>
                        <td><strong>Código Proveedor</strong></td>
                        <td id="detalleCodigoProveedor"></td>
                    </tr>
                    <tr>
                        <td><strong>Unidad</strong></td>
                        <td id="detalleUnidad"></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#addAsignacionModal" data-bs-toggle="modal" data-bs-dismiss="modal">Volver</button>
            </div>
        </div>
    </div>
</div>