{% extends "layout.html" %}
{% block body %}
{% from 'funciones_macro.html' import paginacion %}

<div class="row">
    <div class="col">
        <h2>Asignaciones</h2>
        <!-- Fila para botón y barra de búsqueda -->
        <div>
            <!-- Barra de búsqueda -->
            <div style="display:flex; justify-content:center;">
                <input name="palabra" type="text" class="search-box" placeholder="Buscar asignación..." id="buscador" onkeyup="busqueda('myTableBody')" />
            </div>

            <!-- Botón para redirigir a agregar asignación -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addAsignacionModal" onclick="fechaPorDefecto()">Agregar</button> <!-- onclick de fechaPorDefecto() para que no haya un delay entre que cargue completamente el modal y muestre la fecha. Al tener la función en onclick muestra la fecha instantáneamente -->
            <button type="button" onclick="navigateTo('/add_asignacion')" class="btn btn-primary">Agregar asignación antigüo</button>
        </div>

        <!-- Tabla de asignaciones -->
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <!-- Encabezado de la tabla -->
                <thead>
                    <tr>
                        <th onclick="sortTable(0, this)">ID</th>
                        <th onclick="sortTable(1, this)">Funcionario</th>
                        <th onclick="sortTable(2, this)">Tipo de equipo</th>
                        <th onclick="sortTable(3, this)">Fecha de asignación</th>
                        <th onclick="sortTable(4, this)">Fecha de devolución</th>
                        <th>Actas</td>
                        <th>Acciones</td>
                    </tr>
                </thead>
                <!-- Contenido de la tabla -->
                <tbody id="myTableBody">
                    {% for asig in asignacion %}
                    <tr>
                        <td class="toCheck">{{ asig.idAsignacion }}</td>
                        <td class="toCheck">{{ asig.nombreFuncionario }}</td>
                        <td class="toCheck">{{ asig.nombreTipo_equipo if asig.nombreTipo_equipo else '-' }}</td>
                        <td class="toCheck">{{ asig.fecha_inicioAsignacion.strftime('%d-%m-%Y') }}</td>
                        <td class="toCheck">{{ asig.fechaDevolucion.strftime('%d-%m-%Y') if asig.fechaDevolucion else 'Sin devolver' }}</td>

                        <!-- Botones de actas -->
                        <td>
                            <div class="dropdown">
                                <button class="options-button">Asignaciones</button>
                                <div class="dropdown-options">
                                    <a href="/asignacion/mostrar_pdf/{{asig.idAsignacion}}"
                                        class="info-button desplegable-button">Asignación</a>
                                    <a href="/asignacion/listar_pdf/{{asig.idAsignacion}}"
                                        class="success-button desplegable-button">Firmar</a>
                                </div>
                            </div>

                            <!-- Si la asignación no está activa, se muestran opciones para devolución -->
                            {% if asig.ActivoAsignacion != 1 %}
                            <div class="dropdown">
                                <button class="options-button">Devoluciones</button>
                                <div class="dropdown-options">
                                    <a href="/asignacion/mostrar_pdf_devolucion/{{asig.idAsignacion}}"
                                        class="info-button desplegable-button">Devolución</a>
                                    <a href="/asignacion/listar_pdf/{{asig.idAsignacion}}/devolver"
                                        class="success-button desplegable-button">Firmar</a>
                                </div>
                            </div>
                            {% else %}
                            <!-- Si la asignación está activa, muestra el botón para devolverla -->
                            <a target="_self" href="/asignacion/devolver/{{ asig.idAsignacion }}"
                                class="success-button">Devolver</a>
                            {% endif %}
                        </td>
                        <!-- Fin botones de actas -->

                        <!-- Acciones -->
                        <td class="d-flex justify-content-center gap-2">
                            <div data-bs-toggle="tooltip" data-bs-title="Detalles">
                                <button class="btn button-info"
                                    data-bs-toggle="modal"
                                    data-bs-target="#modal-view-{{ asig.idAsignacion }}">
                                    <i class="bi bi-info-circle"></i>
                                </button>
                            </div>
                            <button class="btn btn-danger delete-button"
                                data-bs-toggle="tooltip"
                                data-url="/delete_asignacion/{{asig.idAsignacion}}"
                                data-title="Eliminar asignación"
                                data-message="¿Estás seguro de que deseas eliminar esta asignación?"
                                data-bs-title="Eliminar">
                                <i class="bi bi-trash-fill"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% include 'GestionR.H/asignacion.modals.html' %}
        <script src="../static/js/asignaciones.controller.js"></script>

        {{ paginacion("asignacion", page, lastpage) }}
        {% endblock %}
    </div>
</div>