{% extends "layout.html" %}
{% block body %}
{% from 'funciones_macro.html' import paginacion %}

<div class="row">
    <div class="col">
        <h2>Funcionarios</h2>
        <!-- Fila para botón y barra de búsqueda -->
        <div>
            <!-- Barra de búsqueda -->
            <div style="display: flex; justify-content: center;">
                <input name="palabra" type="text" class="search-box" placeholder="Buscar funcionario..." id="buscador" onkeyup="busqueda('myTableBody')" />
            </div>
            <!-- Botón para abrir el modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addFuncionarioModal">Agregar funcionario</button>
        </div>

        <!-- Tabla de funcionarios -->
        <div style="overflow-x:auto;">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th onclick="sortTable(0)">RUT</th>
                        <th onclick="sortTable(1)">Nombre</th>
                        <th onclick="sortTable(2)">Cargo</th>
                        <th onclick="sortTable(3)">Unidad</th>
                        <th onclick="sortTable(4)">Correo</th>
                        <th>Acciones</td>
                    </tr>
                </thead>
                <tbody id="myTableBody">
                    <!-- Iterar sobre los funcionarios -->
                    {% for fun in funcionario %}
                    <tr>
                        <td class="toCheck">{{ fun.rutFuncionario }}</td>
                        <td class="toCheck">{{ fun.nombreFuncionario }}</td>
                        <td class="toCheck">{{ fun.cargoFuncionario }}</td>
                        <td class="toCheck">{{ fun.nombreUnidad }}</td>
                        <td class="toCheck">{{ fun.correoFuncionario }}</td>
                        <td>
                            <!-- Botón de editar -->
                            <button class="btn btn-success edit-button" data-bs-toggle="modal"
                                data-bs-target="#editFuncionarioModal" data-rut="{{ fun.rutFuncionario }}"
                                data-nombre="{{ fun.nombreFuncionario }}" data-correo="{{ fun.correoFuncionario }}"
                                data-cargo="{{ fun.cargoFuncionario }}" data-unidad="{{ fun.idUnidad }}">Editar</button>
                            <!-- Botón de eliminar -->
                            <a href="#" class="btn btn-danger delete-button"
                                data-url="/delete_funcionario/{{ fun.rutFuncionario }}"
                                data-title="Eliminar Funcionario"
                                data-message="¿Estás seguro de que deseas eliminar al funcionario {{ fun.nombreFuncionario }}?">
                                Eliminar
                            </a>
                            <a href="/mostrar_asociados_funcionario/{{ fun.rutFuncionario }}" class="info-button">Equipos</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% include 'GestionR.H/funcionario.modals.html' %}

            {{ paginacion("funcionario", page, lastpage) }}
        </div>
        {% endblock %}
    </div>
</div>