<!-- esta seccion se utiliza para mostrar los errores a traves de flash siempre y cuando existan errores -->
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}

<p>{{message}}</p>

{% endfor %}
{% endif %}
{% endwith %}
<!-- Se termina la seccion de errores -->

<!-- ----- -->
<h2>Agregar orden de compra</h2>
<form action="/add_comuna" method="POST">
    <input type="text" name="nombre_comuna"  placeholder="Nombre de comuna">
    <select name="nombre_provincia" id="">
        <option value=""></option>
        {% for pro in provincia %}
        <option value="{{ pro.idProvincia }}">{{pro.nombreProvincia}}</option>
        {% endfor %}
    </select>
    <button type="submit"> Guardar</button>
</form>
<br>
<table>
    <h2>Ordenes de compra</h2>
    <thead>
        <tr>
            <td>Nombre comuna</td>
            <td>Provincia</td>
            <td>Acciones</td>
        </tr>
    </thead>
    <tbody>
        <!-- Se inicia iteracion for para mostrar todos los proveedores -->
        {% for co in comuna %}
        <tr>
            <td>{{co.nombreComuna}}</td> 
            {% if comuna.idProvincia == provincia.idProvincia %}
                <td>{{co.nombreProvincia}}</td>
            {% endif %}
            <td>
                <a href="/edit_comuna/{{co.idComuna}}">Editar</a>
                <a class="btn-delete" href="/delete_comuna/{{co.idComuna}}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>