<div class="col-md-5">
    <!-- esta seccion se utiliza para mostrar los errores a traves de flash siempre y cuando existan errores -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}

    <div class="custom-alert" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    {% endfor %}
    {% endif %}
    {% endwith %}
    <!-- Se termina la seccion de errores -->

</div>
{% extends "layout.html" %}
{% block body %}


<a class="nav-button" href="/incidencia">Volver</a>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card card-body" id="formulario" style="display: bloc;">
            <form action="/incidencia/update_incidencia/{{incidencia.idIncidencia}}" method="POST" class="mi-formulario">
                <div class="form-group">
                    <label for="nombreIncidencia">Nombre Incidencia:</label>
                    <input value="{{incidencia.nombreIncidencia}}" type="text" class="form-control" name="nombreIncidencia" placeholder="Nombre Incidencia">
                    <br>
                    <label for="observacionIncidencia">Observacion: </label>
                    <textarea id="observacionIncidencia" name="observacionIncidencia" 
                    rows="2" cols="50">{{incidencia.observacionIncidencia}}</textarea>
                    <br>
                    <label for="fechaIncidencia">Fecha Incidencia: </label>
                    <input value="{{incidencia.fechaIncidencia}}" type="date" class="form-control" name="fechaIncidencia">
                    <br>
                    {# se nesesita una forma eficiente de añadir el equipo#}
                    <button class="agregar-button"> Agregar</button>
            </form>
        </div>

            {% endblock %}