{% extends "layout.html" %}
{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
    <form action="/update_devolucion/{{devolucion.idDevolucion}}" method="POST"class="mi-formulario">
    <div class="form-group">
        <label for="fechaDevolucion">Fecha de Devolucion: </label>
        <input type="date" name="fechaDevolucion" value="{{devolucion.fechaDevolucion}}">
    </div>
    <br>
    <div class="form-group">
        <label for="observacionDevolucion">Observacion de Devolucion:</label>
       <br>
        <textarea id="observacionDevolucion" name="observacionDevolucion" class="form-control">{{devolucion.observacionDevolucion}}</textarea>
    </div>
    <br>
    <div class="form-group">
        <label for="rutaactaDevolucion">Ruta Acta:</label>
        <input type="text" id="rutaactaDevolucion" name='rutaactaDevolucion' value="{{devolucion.rutaactaDevolucion}}">

    </div>
    <div class="form-group">
        <label for="ActivoDevolucion"> Activo?: </label>
        <input type="checkbox" id="ActivoDevolucion" name="ActivoDevolucion" value="{{devolucion.ActivoDevolucion}}" >

    </div>
    <div class="form-group">
        <label for="rutFuncionario">Funcionario:</label>

        <select name="rutFuncionario" id="" >
            <option value={{devolucion.rutFuncionario}}>{{devolucion.rutFuncionario}}</option>  
            {% for f in funcionario %}
                {% if( f.rutFuncionario != devolucion.rutFuncionario)  %}
                    <option value="{{ f.rutFuncionario }}">{{ f.rutFuncionario }}</option>
                {% endif %}
               
                

            {% endfor %}
        </select> 
    </div>
    <button type="submit" class="agregar-button"> Guardar</button>  
</form>
{% endblock %}
