<!-- esta seccion se utiliza para mostrar los errores a traves de flash siempre y cuando existan errores -->
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}

    <p>{{message}}</p>

{% endfor %}
{% endif %}
{% endwith %}
<!-- Se termina la seccion de errores -->

<!-- ----- -->
<h1>Provincias</h1><br>
<form action="/add_provincia" method="POST">
    <input type="text" name="nombre_provincia" placeholder="Nombre provincia">
    <button type="submit"> Guardar</button>
</form>

<table>
    <thead>
        <tr>
            <td>Nombre provincia</td>
            <td>Acciones</td>
        </tr>
    </thead>
    <tbody>
        <!-- Se inicia iteracion for para mostrar todos los proveedores que almacena cada uno en pro que recorre provincia -->
        {% for pro in provincia %}
        <tr>
            <!-- en el siguiente <td> se seleccionara el atributo que queremos mostrar en pantalla indicando el indice del nombre del proveedor en este caso -->
            <td>{{pro.nombreProvincia}}</td>
            <td>
                <!-- se indica la ruta de la funcion editar y agregando el id a traves de del indice proveedor.0 -->
                <a class="btn-open-model" href="/edit_provincia/{{pro.idProvincia}}">Editar</a>
                <!-- en la class "btn-delete" se utilizara para la confirmacion de eliminacion del proveedor segun su id proveedor.0  -->
                <a class="btn-delete" href="delete_provincia/{{pro.idProvincia}}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
        <!-- Se termina la iteracion for -->
    </tbody>
</table>
{% endblock %}
