{% extends "layout.html" %}
{% block body %}
{% from 'funciones_macro.html' import paginacion %}
<h2 class="mb-4">Proveedores</h2>

<div class="container mt-4">

    <div id="alertContainer" class="alert d-none" role="alert"></div>


    <div class="row">

        <div class="col-md-12">
            <!-- Botón para abrir el modal de agregar proveedor -->
            <div class="d-flex justify-content-between align-items-center mb-3">
                <button class="btn btn-primary shadow-sm" data-bs-toggle="modal" data-bs-target="#addProveedorModal">
                    <i class="bi bi-plus-lg"></i> Agregar Proveedor
                </button>

                <!-- Botón para eliminar proveedores seleccionados -->
                <button class="btn btn-danger shadow-sm" id="eliminarSeleccionados" title="Eliminar proveedores seleccionados">
                    <i class="bi bi-trash"></i> Eliminar Seleccionados
                </button>
            </div>

            <!-- Modal para agregar proveedor -->
            <div class="modal fade" id="addProveedorModal" tabindex="-1" aria-labelledby="addProveedorModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addProveedorModalLabel">Agregar Proveedor</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form id="form_addProveedorModal" action="/add_proveedor" method="POST">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="nombre_proveedor" class="form-label">Nombre Proveedor</label>
                                    <input 
                                        type="text" 
                                        class="form-control campo-obligatorio" 
                                        id="nombre_proveedor" 
                                        name="nombre_proveedor" 
                                        placeholder="Ingrese un Proveedor"
                                        required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Modal para editar proveedor -->
            <div class="modal fade" id="editProveedorModal" tabindex="-1" aria-labelledby="editProveedorModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editProveedorModalLabel">Editar Proveedor</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                        </div>
                        <form id="editProveedorForm" method="POST" action="/update_proveedor/{{proveedor.idProveedor}}">
                            <div class="modal-body">
                                <input type="hidden" id="edit_idProveedor" name="idProveedor">
                                <div class="mb-3">
                                    <label for="edit_nombreProveedor" class="form-label">Nombre Proveedor</label>
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        id="edit_nombreProveedor" 
                                        name="nombre_proveedor" 
                                        placeholder="Ingresa el nombre del proveedor" 
                                        required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                            </div>
                        </form>                    
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal de confirmación para eliminación -->
        <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                        ¿Estás seguro de que deseas eliminar los proveedores seleccionados? Esta acción no se puede deshacer.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tabla de proveedores -->
         <div class="container">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="checkbox-column">
                                Todo
                            </th>
                            <th>Nombre del Proveedor</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="myTableBody">
                        {% if proveedor %}
                        {% for pro in proveedor %}
                        <tr data-id="{{ pro.idProveedor }}">
                            <td class="checkbox-column">
                                <input type="checkbox" class="checkbox-table row-checkbox">
                            </td>
                            <td>{{ pro.nombreProveedor }}</td>
                            <td>
                                <button 
                                    class="btn btn-primary edit-button"
                                    data-bs-toggle="modal"
                                    data-bs-target="#editProveedorModal"
                                    data-id="{{ pro.idProveedor }}"
                                    data-nombre="{{ pro.nombreProveedor }}">
                                    Editar
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="5" class="text-center">No hay datos disponibles.</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>        
    </div>
</div>

<script src="{{ url_for('static', filename='js/GestionP/proveedor.js') }}"></script>

{{ paginacion("proveedor", page, lastpage) }}

{% endblock %}
