{% extends "layout.html" %}
{% block body %}
{% from 'funciones_macro.html' import paginacion %}

<div class="row">

    <div class="col-md-12">
        <!-- esta seccion se utiliza para mostrar los errores a traves de flash siempre y cuando existan errores -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}

        <div class="custom-alert" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        {% endfor %}
        {% endif %}
        {% endwith %}
        <!-- Se termina la seccion de errores -->

        <!-- ----- -->
        {#<button class="nav-button" onclick="showDiv()">Agregar</button>#}
        <h3 style="text-align: center">Las incidencias se agregan en la pestaña de equipos</h3>
        <div class="card card-body" id="formulario" style="display: none;">
            <form action="/TODO" method="POST" class="mi-formulario">
                <div class="form-group">
                    <label for="nombreIncidencia">Nombre Incidencia:</label>
                    <input type="text" class="form-control" name="nombreIncidencia" placeholder="Nombre Incidencia">
                    <br>
                    <label for="observacionIncidencia">Observación: </label>
                    <textarea id="observacionIncidencia" name="observacionIncidencia" rows="2" cols="50"></textarea>
                    <br>
                    <label for="fechaIncidencia">Fecha Incidencia: </label>
                    <input type="date" class="form-control" name="fechaIncidencia">
                    <br>
                    {# se nesesita una forma eficiente de añadir el equipo#}
                    <button class="agregar-button"> Agregar</button>
            </form>
        </div>
        <h2>Incidencias</h2>
        <div style="margin: auto; padding: 0px; width:0px; background:black; text-align:center">
            <div style="display:flex;">
                <form action="/consulta_equipo" method="POST">
                    <input name="palabra" type="text" class="search-box" placeholder="Buscar incidencias" id="buscador"
                        onkeyup="busqueda('myTableBody')" />
                    {#<button class="nav-button" type="submit">Buscar</button>#}
                </form>
            </div>
        </div>
        <div style="overflow-x:auto;">
            <table id="posts">
                <thead>
                    <tr>
                        <td onclick="sortTable(0)">Nombre Incidencia</td>
                        <td onclick="sortTable(1)">Observación Incidencia</td>
                        <td onclick="sortTable(2)">FechaIncidencia</td>
                        <td onclick="sortTable()">Acta</td>
                        <td onclick="sortTable(4)">Código Equipo</td>
                        <td onclick="sortTable(4)">N° Serie</td>
                        <td onclick="sortTable(5)">Nombre Equipo</td>
                        <td onclick="sortTable(6)">Modelo</td>
                        <td onclick="sortTable(7)">N° Documentos</td>

                        <td>Acciones</td>
                    </tr>
                </thead>
                <tbody id="myTableBody">
                    <!-- Se inicia iteracion for para mostrar todos los proveedores -->
                    {% for incidencia in Incidencia %}
                    <tr>
                        <td class="toCheck">{{incidencia.nombreIncidencia}}</td>
                        <td class="toCheck">{{incidencia.observacionIncidencia}}</td>
                        <td class="toCheck">{{incidencia.fechaIncidencia}}</td>
                        <td class="toCheck">
                            <a href="/incidencia/listar_pdf/{{incidencia.idIncidencia}}" class="info-button">Documentos</a>
                        </td>
                        <td class="toCheck">{{incidencia.cod_inventarioEquipo}}</td>
                        <td class="toCheck">{{incidencia.Num_serieEquipo}}</td>
                        <td class="toCheck">{{incidencia.nombreTipo_Equipo}}</td>
                        <td class="toCheck">{{incidencia.nombreModeloEquipo}}</td>
                        <td class="toCheck">{{incidencia.numDocumentos}}</td>
                        <td>
                            <div class="dropdown">
                                <button class="options-button desplegable-button">Opciones</button>
                                <div class="dropdown-options" style="border: 0px; border-color:#5500ff; border-style:solid">
                                    <a href="/incidencia/edit_incidencia/{{incidencia.idIncidencia}}"
                                        class="success-button desplegable-button">Editar</a>
                                    <a href="/incidencia/delete_incidencia/{{incidencia.idIncidencia}}"
                                        class="btn btn-danger delete-button desplegable-button">Eliminar</a>
                                    <a href="/equipo/buscar_equipo/{{incidencia.idEquipo}}" 
                                        class="info-button desplegable-button">Equipo</a>
                                </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>        

        
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script src="../static/js/main.js"></script>
        {{ paginacion("incidencia", page, lastpage) }}
        {% endblock %}