{% extends "layout.html" %}
{% block body %}
{% from 'funciones_macro.html' import paginacion %}

<div class="row">

    <div class="col-md-12">
        <div>
            <!-- Título -->
            <div class="text-center mb-12">
                <h2 class="mb-1">Incidencias</h2>
            </div>

            <div class="row align-items-center mb-3">
                <!-- Botón alineado completamente a la izquierda -->
                <div class="col-12 col-md-2 d-flex justify-content-md-start justify-content-center mb-2 mb-md-0">
                    <button type="button" class="btn btn-primary w-100 w-md-auto" data-bs-toggle="modal"
                        data-bs-target="#addIncidenciaModal">
                        <i class="bi bi-plus-lg"></i> Agregar
                    </button>
                </div>
            
                <!-- Buscador completamente centrado en la página -->
                <div class="col-12 col-md-6 offset-md-1 d-flex justify-content-center">
                    <input type="text" id="buscador_incidencia" class="form-control w-100 w-md-75"
                        placeholder="Buscar incidencias" oninput="buscarIncidencias(1)">
                </div>
            </div>
            



            <script src="../../static/js/funciones.js"></script>
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    // Define los placeholders dinámicos
                    const placeholders = [
                        "Buscar por tipo de incidencia",
                        "Buscar por observación",
                        "Buscar por fecha",
                        "Buscar por código de inventario",
                        "Buscar por número de serie",
                        "Buscar por tipo de equipo",
                        "Buscar por modelo",
                    ];
                    enableDynamicPlaceholder("buscador", placeholders, 3000)
                });
            </script>

            <!-- Tabla -->
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="col-md-12">
                        <tr>
                            <th onclick="sortTable(7,this)" class="sortable-column">Estado</th>
                            <th onclick="sortTable(6,this)" class="sortable-column">Tipo equipo</th>
                            <th onclick="sortTable(1,this)" class="sortable-column">Tipo Incidencia</th>
                            <th onclick="sortTable(2,this)" class="sortable-column">Observacion</th>
                            <th onclick="sortTable(3,this)" class="sortable-column">Fecha</th>
                            <th onclick="sortTable(4,this)" class="sortable-column" data-bs-toggle="tooltip"
                                title="Codigo de Inventario" data-bs-custom-class="custom-tooltip">C. Inv</th>
                            <th onclick="sortTable(5,this)" class="sortable-column">N° Serie</th>
                            <th onclick="sortTable(7,this)" class="sortable-column">Modelo</th>

                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="myTableBody">
                        {% if incidencia %}
                        {% for inc in incidencia %}
                        <tr data-id="{{ inc.idIncidencia }}">

                            <!-- NOMBRES A USAR PARA INCIDENCIAS -->
                            <td class="toCheck">{{inc.estadoIncidencia}}</td>
                            <td class="toCheck">{{inc.nombreTipo_equipo}}</td>
                            <td class="toCheck">{{inc.nombreIncidencia}}</td>
                            <td class="toCheck">{{inc.observacionIncidencia or '-'}}</td>
                            <td class="toCheck">{{inc.fechaIncidencia.strftime("%d-%m-%Y")}}</td>
                            <td class="toCheck">{{inc.cod_inventarioEquipo}}</td>
                            <td class="toCheck">{{inc.Num_serieEquipo}}</td>

                            <td class="toCheck">{{inc.nombreModeloequipo}}</td>
                            <td>
                                <!-- Botón para ver especificaciones -->
                                <a href="{{ url_for('incidencia.listar_pdf', idIncidencia=inc.idIncidencia) }}"
                                    class="btn button-info">
                                    <i class="bi bi-info-circle"></i>
                                </a>
                                <!-- Botón para editar -->
                                <button class="btn btn-warning edit-equipo-btn" data-bs-toggle="modal"
                                    data-bs-target="#edit_incidencia" data-id="{{ inc.idIncidencia }}"
                                    data-estado="{{ inc.estadoIncidencia }}" data-nombre="{{ inc.nombreIncidencia }}"
                                    data-fecha="{{ inc.fechaIncidencia }}"
                                    data-observacion="{{ inc.observacionIncidencia }}">
                                    <i class="bi bi-pencil-square"></i>
                                </button>

                                <!-- Botón de eliminación -->
                                <button class="btn btn-danger delete-button" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal" data-id="{{ inc.idIncidencia }}"
                                    data-url="/incidencia/delete_incidencia/{{ inc.idIncidencia }}">
                                    <i class="bi bi-trash-fill"></i>
                                </button>

                                <!-- Formulario oculto para eliminar una incidencia -->
                                <form id="deleteForm" method="POST" style="display: none;"></form>

                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="10" class="text-center">No hay datos disponibles.</td>
                        </tr>
                        {% endif %}
                    </tfoot>
                </table>
            </div>

            <!-- PAGINADOR -->
            <nav aria-label="Paginación de incidencias" class="mt-4 overflow-auto">
                <ul class="pagination justify-content-center">
                    {% if page > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('incidencia.Incidencia', page=page-1) }}">Anterior</a>
                    </li>
                    {% endif %}

                    {% for p in range(1, lastpage + 1) %}
                    <li class="page-item {% if p == page %}active{% endif %}">
                        <a class="page-link" href="{{ url_for('incidencia.Incidencia', page=p) }}">{{ p }}</a>
                    </li>
                    {% endfor %}

                    {% if page < lastpage %} <li class="page-item">
                        <a class="page-link" href="{{ url_for('incidencia.Incidencia', page=page+1) }}">Siguiente</a>
                        </li>
                        {% endif %}
                </ul>
            </nav>

            {% include 'Operaciones/incidencia.modals.html' %}
            {% include 'Operaciones/edit_incidencia.modals.html' %}
        </div>

        <style>
            .custom-tooltip .tooltip-inner {
                background-color: white !important;
                color: black !important;
                border: 1px solid black;
            }

            .custom-tooltip .tooltip-arrow::before {
                border-top-color: white !important;
            }

            .pagination .page-item.active .page-link {
                background-color: #007bff;
                color: white;
                border-color: #007bff;
            }

            .pagination .page-link {
                color: #007bff;
            }

            /* Ajustes responsivos */
            @media (max-width: 576px) {

                .orden-compra-toolbar .btn,
                .orden-compra-toolbar input {
                    width: 100% !important;
                }

                .table th,
                .table td {
                    font-size: 12px;
                }

                .btn {
                    padding: 0.375rem 0.5rem;
                    font-size: 0.875rem;
                }

                .pagination .page-link {
                    padding: 0.3rem 0.6rem;
                    font-size: 0.8rem;
                }
            }
        </style>

        <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

        <script src="{{ url_for('static', filename='js/Equipo/equipo.js') }}"></script>
        <script src="../static/js/main.js"></script>
        <script src="{{ url_for('static', filename='js/Operaciones/incidencias.js') }}"></script>

    </div>
</div>

{% include 'Operaciones/edit_incidencia.modals.html' %}
{% include 'Operaciones/incidencia.modals.html' %}
{% endblock %}