body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.sidebar {
  background-color: #939597; /* Fondo gris */
  border-right: 1px solid #dee2e6;
}

.dropdown-toggle {
  outline: 0;
}

.btn-toggle {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size: 1.2rem; /* Títulos más grandes */
  color: #495057;
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.btn-toggle:hover,
.btn-toggle:focus,
.btn-toggle[aria-expanded="true"] {
  color: rgba(73, 80, 87, 0.85); /* Color más oscuro */
  background-color: #e9ecef;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}

.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.mb-3 {
  margin-bottom: 1.5rem !important; /* Más espacio entre secciones */
}

.btn-toggle-nav {
  padding-left: 1.2rem; /* Sangría adicional para subelementos */
}

.btn-toggle-nav a {
  display: block; /* Asegura que los enlaces ocupen todo el ancho */
  padding: 0.5rem 1.5rem; /* Ajuste de padding */
  font-size: 1rem; /* Texto de opciones más grande */
  margin-bottom: 0.2rem; /* Separación entre las opciones */
  color: #6c757d;
  text-decoration: none;
  border-radius: 4px; /* Bordes redondeados */
  transition: background-color 0.2s ease, color 0.2s ease;
}

.btn-toggle-nav a:hover {
  color: #343a40;
  background-color: #e9ecef;
}

.fas {
  color: #6c757d; /* Color de los íconos */
  margin-right: 0.5rem; /* Separación entre icono y texto */
}
