@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

/*Styles*/



.container-home {
    display: flex;
    width: 100%;
}

*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

h2 {
    color: #3e4455;
    text-align: center;
}
h3 {
    color: #4e5462;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Sidebar layout & functionality */

#sidebar {
    display: flex;
    flex-direction: column;
    background-color: #59ae87;
}
label {
    display: block;
}

#toggler {
    display: none;
}

.toggle-btn {
    font-size: 1.5rem;
    cursor: pointer;
    color: #fcbd18;
    padding: 1rem 1.5rem;
    width: max-content;
}


.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

/* Dashboard Navbar */
.btn-menu {
    width: auto; /* Ajusta el ancho automáticamente al contenido */
    padding: 0.5rem 1rem; /* Ajusta el relleno interno */
    position: absolute; /* Asegura que no interfiera con otros elementos */
    top: 30px; /* Ajusta la distancia desde la parte superior */
    left: 20px; /* Ajusta la distancia desde la parte izquierda */
    z-index: 1; /* Asegura que no se superponga con otros elementos */
}


.dashboard-navbar {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    padding: 1rem 1.5rem;
    background-color: transparent;
}
.dashboard-navbar::before {
    content: "";
    position: absolute;;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('../img/header_full_2022.png'); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-position: center;
    opacity: 0.9; /
}
.dashboard-navbar .navbar-header {
    position: relative; /* Ajustar la posición a relativa para permitir que otros elementos floten sobre ella */
    z-index: 1; /* Asegura que los elementos floten sobre la imagen de fondo */
}


.dashboard-navbar .navbar-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1; /* La imagen de encabezado estará detrás del contenido de la barra de navegación */
}

.dashboard-navbar form {
    display: flex; /* Asegura que el formulario sea visible */
    margin-right: auto; /* Mueve el formulario hacia la izquierda */
}

.dashboard-navbar .nav-search {
    display: flex;
    align-items: center; /* Centra los elementos verticalmente */
}

.dashboard-navbar .navbar-content {
    display: flex;
    flex-grow: 1;
    min-width: 200px;
}

.dashboard-navbar .main-nav {
    margin-left: auto;
}

.user-link {
    position: relative;
}

.avatar {
    height: 40px;
    width: 40px;
}

.user-link-dropdown {
    display: none;
}

.user-link:hover .user-link-dropdown {
    position: absolute;
    right: 0;
    left: auto;
    min-width: 10rem;
    background-color: #FFF;
    display: block;
    border: 1px solid #d2d2d2;
    box-shadow: 0 .1rem .2rem rgba(255, 255, 255, .075);
    animation: fade .5s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.user-link-dropdown a {
    display: block;
    width: 100%;
    color: #495057;
    padding: 0 0.75rem;
    font-size: 1rem;
    margin-top: 0.75rem;
}


/* Dashboard Content */

.content {
    padding: 2rem;
    flex: 1 1 auto;
}

.dashboard-card {
    grid-template-columns: repeat(1, 1fr);
    margin: 1rem 0;
    display: grid;
    gap: 2rem;
}

.card {
    background-color: #f5f5f5;
    padding: 1.5rem 1rem;
    color: #000;
    border-radius: 5px;
    transition: .4s;
    cursor: pointer;
}
/* Estilos del formulario */
.mi-formulario {
    max-width: 400px;
    margin: 0 auto;
}
.title {
    font-size: 1.25rem;
    font-weight: 600;
}

.amount {
    font-weight: 400;
    font-size: 1rem;
}

.card:hover {
    background-color: #59ae87;
    color: #FFF;
    transform: translateY(-7.5px);
}

.text-success-bg {
    background-color: #71c664;
    padding: 0.25rem 0.35rem;
    margin-right: 0.375rem;
    font-size: 0.715rem;
    color: #FFF;
    border-radius: 5px;
}

.badge-text {
    font-size: 0.85rem;
    font-weight: 400;
}

.custom-alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #4CAF50; /* Color del borde de la alerta de éxito */
    border-radius: 4px; /* Bordes redondeados */
    background-color: #4CAF50; /* Color de fondo de la alerta de éxito */
    color: #fff; /* Color del texto de la alerta */
    position: relative;
}

/* Estilo del botón de cierre */
.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    cursor: pointer;
    background: none;
    border: none;
    color: #fff; /* Color del texto del botón de cierre */
}

/* Cambiar el cursor al pasar el ratón por encima del botón de cierre */
.close:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Color de fondo al pasar el ratón por encima */
}
/*------------ Table Layout ------------*/
.table-container {
    margin: 20px; /* Centrar el contenedor horizontalmente y agregar margen */
    width: 100%; /* Ancho del contenedor */
}

.length-selector {
    margin-right: auto; /* Alinear a la izquierda */
  }
  
  .datatable-search {
    text-align: center; /* Centrar buscador */
  }
  
  .actions-button {
    margin-left: auto; /* Alinear a la derecha */
  }
  
  #action-select {
    min-width: 150px;
  }

#posts {
    border-collapse: collapse;
    margin: 30px auto;
    width: 100%;
}

#posts thead tr {
    color: #FFF;
    text-align: left;
    background-color: #59ae87;
}

#posts th,
#posts td {
    padding: 12px 15px;
}

#posts tbody tr:nth-of-type(2n) {
    background-color: #f5f5f5;
}
/*boton informacion*/
.info-button {
    display: inline-block;
    padding: 5px 15px;
    font-size: 15px;
   /* font-weight: bold; */
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: solid #0000ff; /* Color del borde del éxito en Bootstrap */
    color: #fff; /* Color del texto */
    background-color: #0000ff; /* Color de fondo del éxito en Bootstrap */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Transiciones suaves */
}
.nav-button {
    display: inline-block;
    padding: 5px 15px;
    font-size: 15px;
    margin: 15px;
   /* font-weight: bold; */
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: solid #008800; 
    color: #fff; /* Color del texto */
    background-color: #009900; 
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Transiciones suaves */
}
.nav-button2 {
    display: inline-block;
    padding: 5px 15px;
    font-size: 15px;
    margin: 1px;
   /* font-weight: bold; */
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: solid #008800; 
    color: #fff; /* Color del texto */
    background-color: #009900; 
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Transiciones suaves */
}


/* Estilo del botón de éxito */
.success-button {
    display: inline-block;
    padding: 5px 15px;
    font-size: 15px;
   /* font-weight: bold; */
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: solid #fcbd18; /* Color del borde del éxito en Bootstrap */
    color: #fff; /* Color del texto */
    background-color: #fcbd18; /* Color de fondo del éxito en Bootstrap */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Transiciones suaves */
}

/* Estilo del botón de éxito al pasar el ratón por encima */
.success-button:hover {
    background-color: #fcc741; /* Nuevo color de fondo al pasar el ratón */
    border-color: #fcc741; /* Nuevo color del borde al pasar el ratón */
}

.agregar-button {
    display: inline-block;
    padding: 5px 15px;
    font-size: 15px;
    /*font-weight: bold; */
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: solid #495057; /* Color del borde del éxito en Bootstrap */
    color: #fff; /* Color del texto */
    background-color: #495057; /* Color de fondo del éxito en Bootstrap */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Transiciones suaves */
}

/* Estilo del botón de éxito al pasar el ratón por encima */
.agregar-button:hover {
    background-color: #555c63; /* Nuevo color de fondo al pasar el ratón */
    border-color: #555c63; /* Nuevo color del borde al pasar el ratón */
}

/* Footer */

.footer-wrap {
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    align-items: center;
    overflow-x: auto;
    justify-content: space-between;
    background-color: #f5f5f7;
    padding: 1rem 2rem;
}

.social-icons {
    display: none;
}

/* Responsive */

@media (min-width: 768px) {

    /* Navbar Form */

    .dashboard-navbar form {
        display: block;
        max-width: 320px;
    }

    .nav-search {
        display: flex;
        flex-wrap: wrap;
    }

    .nav-search .search-query {
        flex: 1 1 auto;
        width: 1%;
        height: calc(1.5em + .9rem + 2px);
        padding: 0 20px;
        margin: auto;
        border: none;
        color: #3e4455;
        font-family: 'Poppins', sans-serif;
    }

    .nav-search .search-query:focus-visible {
        margin: auto;
        outline: none;
    }
    .search-query {
        margin: auto;
    }

    .nav-search .btn {
        border: 0;
        background-color: #59ae87;
        color: #FFF;
        padding: 0.45rem 0.9rem;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
    }

    /* Dashboard Content  */

    .dashboard-card {
        grid-template-columns: repeat(3, 1fr);
    }

    /* Social Icons */

    .social-icons {
        display: block;
    }

    .social-icons li:not(:last-child) {
        margin-right: 0.5rem;
        border-right: 1px solid #000;
        padding-right: 0.7rem;
    }

    .social-icons li {
        display: inline-block;
    }

    .social-icons li a {
        color: #000;
    }
    body, html {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    
    
    .main {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        width: 100%;
        overflow: hidden;
    }
}

.text-sort {
    color: #444;
}

/*dropdown search*/
/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  }
  
  /* The search field */
  #myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  /* The search field when it gets focus/clicked on */
  #myInput:focus {outline: 3px solid #ddd;}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
  .main-ul {
    width: 85px;
    min-width: 85px;
    padding: 25px 0;
    flex: 1 1 auto;
}
.main-ul-item {
    color: #000;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
a.mainbar-link {
    padding: 1.625rem 3.625rem;
    color: #FFF;
    display: block;
    white-space: nowrap;
    border-left: 3px;
    background-color: #090;
    border-color: #080;
    margin: 15px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.dropdown-options {
    z-index: 100;
    display: none;
    position: absolute;
    overflow: auto;
  }
  .dropdown:hover .dropdown-options {
    display: block;
  }
.options-button {
    display: inline-block;
    padding: 5px 15px;
    font-size: 15px;
   /* font-weight: bold; */
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: solid #5500ff; /* Color del borde del éxito en Bootstrap */
    color: #fff; /* Color del texto */
    background-color: #5500ff; /* Color de fondo del éxito en Bootstrap */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Transiciones suaves */
}

.desplegable-button {
    width: 100%; 
    border-radius:0px;
}
.search-box {
    font-size: 1rem;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    max-width: 420px;
    min-width: 180px;
    width: 100%;
}
.search-box:focus {
    outline: none;
}

.error-message {
    color: white; /* Cambiamos el color del texto a blanco para mejor contraste */
    background-color: red; /* Fondo rojo para el mensaje de error */
    border: 1px solid darkred; /* Borde más oscuro para definir el área */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    margin: 10px 0; /* Margen superior e inferior */
    display: none; /* Inicialmente oculto */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Sombra para dar profundidad */
    font-family: Arial, sans-serif; /* Fuente más legible */
    font-size: 14px; /* Tamaño de fuente */
    text-align: center; /* Centrar el texto */
}
.text-error-message {
    color: red;
    font-size: 13px;
}

svg.bi {
    width: 1rem;
    height: 1rem;
}

.container-alert-error {
    display: flex;
    align-items: center;
}
.container-alert-error button {
    width: 5px;
    height: 5px;
    margin-left: 5px;
}

.alert {
    position: fixed;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    width: auto;
    max-width: 80%;
    margin: 0 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 2s ease-out, transform 0.5s ease-in;
}

.alert.hidden {
    opacity: 0;
}

.valid, .invalid {
    font-size: 14px;
}

.valid {
    color: green;
}

.invalid {
    color: grey;
}

.check-results {
    display: flex;
    align-content: center;
    flex-direction: column;
    margin: 10px 0px;
}

/* Colores del botón principal de Bootstrap */
.btn.btn-primary {
    background-color: #59ae87 !important;
    border-color: #59ae87 !important;
    color: #fff !important;
}

.btn.btn-primary:hover {
    background-color: #4a946e !important;
    border-color: #4a946e !important;
}

.fecha-asignacion input {
    display: flex;
    align-items: center;
}

.button-info:disabled {
    opacity: 0.5;
    pointer-events: none;
}
.button-info {
    background-color: #0056b3;
    border-color: #0056b3;
    color: white;
    transition: opacity 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.button-info:hover {
    background-color: #003d7a;
    border-color: #003d7a;
    color: #d9d9d9;
}
#container-buttons-equipo .edit-button,
#container-buttons-equipo .delete-button {
    transition: opacity 0.3s ease, background-color 0.3s ease, transform 0.2s ease;
    opacity: 0.5;
    pointer-events: none;
}

#container-buttons-equipo .edit-button:enabled,
#container-buttons-equipo .delete-button:enabled {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1.05);
}

#confirmStateChangeModal .modal-header {
    background-color: #f8d7da;
    color: #721c24;
}

#confirmStateChangeModal .modal-footer .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

/* Estilos para que el mensaje de error no provoque que el modal o contenido se agrande verticalmente */
.mb-3 {
  position: relative;
}

.mb-3 .text-error-message {
  position: absolute;
  top: 100%;
}

.table td, .table th {
    vertical-align: middle;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.toolbar-1 {
    justify-content: flex-start;
}
.toolbar-2 {
    flex: 2;
    display: flex;
    justify-content: center;
}
.toolbar-3 {
    justify-content: flex-end;
}
.toolbar-1, .toolbar-3 {
    flex: 1;
    display: flex;
    gap: 0.5rem;
}
/* Aplica el cursor pointer solo a las filas de la tabla con id "tablaEquipo" */
#tablaEquipo tbody tr {
    cursor: pointer;
}

/* Estilos específicos para la barra de herramientas en orden_compra.html */
.orden-compra-toolbar {
    display: flex;
    justify-content: center; /* Centra todos los elementos horizontalmente */
    align-items: center; /* Centra todos los elementos verticalmente */
    gap: 1rem; /* Espaciado entre los elementos */
    width: 100%;
    margin: 20px 0; /* Espaciado superior e inferior */
}

.orden-compra-toolbar-1,
.orden-compra-toolbar-3 {
    flex: 1; /* Ocupan el mismo espacio */
    display: flex;
    justify-content: flex-start; /* Alinea a la izquierda */
}

.orden-compra-toolbar-3 {
    justify-content: flex-end; /* Alinea a la derecha */
}

.orden-compra-toolbar-2 {
    flex: 2; /* Ocupa más espacio que los otros elementos */
    display: flex;
    justify-content: center; /* Centra el campo de búsqueda */
}

.orden-compra-search-box {
    font-size: 1rem;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 300px; /* Ancho fijo */
    max-width: 100%; /* Asegura que no exceda el contenedor */
    padding: 5px 10px; /* Espaciado interno */
}

