{% extends "layout.html" %}
{% block body %}

<a class="nav-button" href="/equipo">Volver</a>
<div id="error-message" style="display: none;" class="error-message"></div>
<div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/update_equipo/{{equipo.idEquipo}}" method="POST"class="mi-formulario">
            <div class="form-group">
            <label for="codigo_inventario">Código inventario: </label>
            <input class="validatable-input" type="text" name="codigo_inventario" value="{{equipo.Cod_inventarioEquipo}}"
            maxlength="45">           
            </div>
            <div class="form-group">
            <label for="numero_serie">Número serie: </label>
            <input class="validatable-input" type="text" name="numero_serie" value="{{equipo.Num_serieEquipo}}" maxlength="20">
             </div>

            <div class="form-group">
            <label for="observacion_equipo">Observación: </label>
            <input type="text" name="observacion_equipo" value="{{equipo.ObservacionEquipo}}"
            maxlength="250">
             </div>
             <div class="form-group">

                <label for="codigoproveedor">Código Proveedor: </label>
                <input class="validatable-input" type="text" name="codigoproveedor" value="{{equipo.codigoproveedor_equipo}}"
                    maxlength="20">
               
                </div>
                <div class="form-group">
                <label for="mac">Mac : </label>
                <input class="validatable-input" type="text" name="mac" value="{{equipo.macEquipo}}" maxlength="45">
                </div>
    
                <div class="form-group">
                <label for="imei">IMEI : </label>
                <input class="validatable-input" type="text" name="imei" value="{{equipo.imeiEquipo}}" maxlength="45">
                 </div>
                 <div class="form-group">
                    <label for="numero">Número de teléfono : </label>
                    <input  class="solo-numeros"type="text" name="numero" value="{{equipo.numerotelefonicoEquipo}}"
                        maxlength="12">
                     </div>
            <div class="form-group">
             <label for="nombre_estado_equipo">Estado equipo: </label>
            <select name="nombre_estado_equipo">
                {% for estadoe in estado_equipo %}
                    <option value="{{ estadoe.idEstado_equipo }}" {% if estadoe.idEstado_equipo == equipo.idEstado_equipo %}selected{% endif %}>{{ estadoe.nombreEstado_equipo }}</option>
                {% endfor %}
            </select>
             </div>
            <div class="form-group">
                <label for="codigo_Unidad">Unidad : </label>
                <select name="codigo_Unidad">
                    {% for ubi in Unidad %}
                        <option value="{{ ubi.idUnidad }}"{% if ubi.idUnidad == equipo.idUnidad %}selected{% endif %}>{{ ubi.nombreUnidad}}</option>
                    {% endfor %}
                </select>
        </div>

        <div class="form-group">
            <label for="nombre_orden_compra">Orden compra: </label>
            <select name="nombre_orden_compra">
                {% for ordenc in orden_compra %}
                    <option value="{{ ordenc.idOrden_compra }}" {% if ordenc.idOrden_compra == equipo.idOrden_compra %}selected{% endif %}>{{ ordenc.nombreOrden_compra }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="nombre_modelo_equipo">Modelo Equipo: </label>
            <select name="nombre_modelo_equipo">
                {% for modeloe in modelo_equipo %}
                    <option value="{{ modeloe.idModelo_Equipo }}" {% if modeloe.idModelo_Equipo == equipo.idModelo_equipo %}selected{% endif %}>{{ modeloe.nombreModeloequipo }}</option>
                {% endfor %}
            </select>
        </div>


            <button type="submit" class="agregar-button"> Guardar</button>  
        </form>

        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

        <script src="../static/js/main.js"></script>

{% endblock %}
