{% extends "layout.html" %}
{% block body %}
<a class="nav-button" href="/tipo_equipo">Volver</a>
<button class="nav-button" onclick="showDiv();fechaPorDefecto()">Agregar</button>
<div class="card card-body" id="formulario" style="display: none;">
    <form action="/add_tipo_equipo/{{tipo_equipo.idTipo_equipo}}" method="POST" class="mi-formulario">
        <div class="form-group">
            <div>
                <label>Observaciones</label>
                <textarea id="observacion" name="observacion" rows="4" cols="50"></textarea>
            </div>
            <br>
            <button class="agregar-button" type="submit"> Agregar</button>
        </div>
</div>
<h2>¿Que marcas tienen {{tipo_equipo.nombreTipo_equipo}}?</h2>
<div style="position: relative;">
    <!--  <a href="/agregarmarca.html" class="agregar-button" style="position: absolute; top: 0; right: 0;">Agregar Marca de Equipo</a>    -->
    <div style="overflow-x:auto;">

        <table id="posts">
            <thead>
                <tr>
                    <th>Marcas</th>
                    <th>Botones</th>
                </tr>
            </thead>
            <tbody>
                {% for marca in marcas %}
                <tr>
                    <td>
                        {{marca.nombreMarcaEquipo}}
                    </td>
                    <td>
                        <input type="checkbox" value="{{marca.idMarca_Equipo}}" name="marcas[]" />
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </form>
    </div>
</div>

        {% endblock %}