<!-- Modal para agregar-->
<div class="modal fade" id="addEquipoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="addEquipoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addEquipoModalLabel">Agregar Nuevo Equipo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form action="/add_equipo" method="POST" id="addEquipoForm" class="row g-3">

                    <div class="col-md-6">
                        <label class="form-label" for="marcaSelect">Marca <span style="color:red;">*</span></label>
                        <select class="form-select campo-obligatorio" id="marcaSelect" onchange="cargarTipos()">
                            <option value="">Seleccione una marca</option>
                        </select>
                        <div class="text-error-message"></div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label" for="tipoSelect">Tipo Equipo <span style="color:red;">*</span></label>
                        <select class="form-select campo-obligatorio" id="tipoSelect" onchange="cargarModelos()">
                            <option value="">Seleccione un tipo</option>
                        </select>
                        <div class="text-error-message"></div>
                    </div>

                    <div class="col-md-6">
                        <input type="hidden" name="modelo_equipo" id="modelo_para_equipo" />
                        <label class="form-label" for="modeloSelect">Modelo <span style="color:red;">*</span></label>
                        <select class="form-select campo-obligatorio" id="modeloSelect"
                            onchange="actualizarModeloSeleccionado()">
                            <option value="">Seleccione un modelo</option>
                        </select>
                        <div class="text-error-message"></div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label" for="codigo_inventario">Código Inventario <span
                                style="color:red;">*</span></label>
                        <input type="text" class="form-control campo-obligatorio validar-numero"
                            name="codigo_inventario" id="codigo_inventario"
                            placeholder="Ingrese el Código de Inventario">
                        <div class="text-error-message">error</div>
                    </div>


                    <div class="col-md-6">
                        <label class="form-label" for="codigo_Unidad">Unidad <span style="color: red;">*</span></label>
                        <select class="form-select campo-obligatorio" name="codigo_Unidad" id="codigo_Unidad">
                            <option value="" selected>Seleccione la Unidad</option>
                            {% for unidad in Unidad %}
                            <option value="{{ unidad.idUnidad }}">{{ unidad.nombreUnidad }}</option>
                            {% endfor %}
                        </select>
                        <div class="text-error-message"></div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label" for="nombre_orden_compra">Orden de Compra <span
                                style="color: red;">*</span></label>
                        <select class="form-select campo-obligatorio" name="nombre_orden_compra">
                            <option value="">Seleccione el Orden de Compra</option>
                            {% for ordenc in orden_compra %}
                            <option value="{{ ordenc.idOrden_compra }}">{{ ordenc.nombreOrden_compra }}</option>
                            {% endfor %}
                        </select>
                        <div class="text-error-message"></div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label" for="numero_serie">Número de Serie <span
                                style="color:red;">*</span></label>
                        <input type="text" class="form-control campo-obligatorio validar-numeros-letras"
                            name="numero_serie" id="numero_serie" placeholder="Ingrese el Número de Serie">
                        <div class="text-error-message"></div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label" for="codigoproveedor">Código de Proveedor: </label>
                        <input type="text" class="form-control validar-numero" name="codigoproveedor"
                            placeholder="Ingrese Código del Proveedor">
                        <div class="text-error-message"></div>
                    </div>

                    <div id="camposTelefono" style="display: none;">
                        <h5 class="mb-3">Datos del Teléfono</h5>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label" for="numero">Número de Teléfono</label>
                                <input type="text" class="form-control validar-numero" name="numero" id="numero"
                                    maxlength="9" placeholder="Ingrese el Número de Teléfono">
                                <div class="text-error-message"></div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label" for="imei">IMEI</label>
                                <input type="text" class="form-control validar-numero" name="imei" id="imei"
                                    maxlength="16" placeholder="Ingrese el IMEI">
                                <div class="text-error-message"></div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label" for="mac">Mac</label>
                                <input type="text" class="form-control validar-mac" name="mac" id="mac" maxlength="17"
                                    placeholder="Ingrese la dirección Mac">
                                <div class="text-error-message"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <label class="form-label" for="observacion_equipo">Observación</label>
                        <textarea class="form-control" id="observacion_equipo" name="observacion_equipo" rows="3"
                            placeholder="Ingrese observaciones"></textarea>
                    </div>

                    <div class="col-12 text-end">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




<!-- Modal de Edición -->
<div class="modal fade" id="editEquipoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="editEquipoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editEquipoModalLabel">Editar Equipo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <!-- El action se establecerá dinámicamente -->
                <form action="" method="POST" id="editEquipoForm" class="row g-3">
                    <!-- Campo oculto para el id, opcional si el backend lo necesita -->
                    <input type="hidden" name="id_equipo" id="edit_id_equipo" />
                    <!-- Select de Marca -->
                    <div class="col-md-6">
                        <label class="form-label" for="edit_marcaSelect">
                            Marca <span style="color:red;">*</span>
                        </label>
                        <select class="form-select campo-obligatorio" id="edit_marcaSelect" name="marca"
                            onchange="cargarTiposEdit()">
                            <option value="">Seleccione una marca</option>
                        </select>
                        <div class="text-error-message"></div>
                    </div>

                    <!-- Select de Tipo -->
                    <div class="col-md-6">
                        <label class="form-label" for="edit_tipoSelect">
                            Tipo Equipo <span style="color:red;">*</span>
                        </label>
                        <select class="form-select campo-obligatorio" id="edit_tipoSelect" name="tipo"
                            onchange="cargarModelosEdit()">
                            <option value="">Seleccione un tipo</option>
                        </select>
                        <div class="text-error-message"></div>
                    </div>

                    <!-- Select de Modelo -->
                    <div class="col-md-6">
                        <input type="hidden" name="modelo_equipo" id="edit_modelo_para_equipo" />
                        <label class="form-label" for="edit_modeloSelect">
                            Modelo <span style="color:red;">*</span>
                        </label>
                        <select class="form-select campo-obligatorio" id="edit_modeloSelect" name="modelo">
                            <option value="">Seleccione un modelo</option>
                        </select>
                        <div class="text-error-message"></div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label" for="edit_codigo_inventario">Código Inventario <span
                                style="color:red;">*</span></label>
                        <input type="text" class="form-control campo-obligatorio validar-numero"
                            name="codigo_inventario" id="edit_codigo_inventario"
                            placeholder="Ingrese el Código de Inventario">
                        <div class="text-error-message"></div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label" for="edit_codigo_Unidad">Unidad <span
                                style="color: red;">*</span></label>
                        <select class="form-select campo-obligatorio" name="codigo_Unidad" id="edit_codigo_Unidad">
                            <option value="">Seleccione la Unidad</option>
                            {% for unidad in Unidad %}
                            <option value="{{ unidad.idUnidad }}">{{ unidad.nombreUnidad }}</option>
                            {% endfor %}
                        </select>
                        <div class="text-error-message"></div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label" for="edit_nombre_orden_compra">Orden de Compra <span
                                style="color: red;">*</span></label>
                        <select class="form-select campo-obligatorio" name="nombre_orden_compra" id="edit_orden_compra">
                            <option value="">Seleccione el Orden de Compra</option>
                            {% for ordenc in orden_compra %}
                            <option value="{{ ordenc.idOrden_compra }}">{{ ordenc.nombreOrden_compra }}</option>
                            {% endfor %}
                        </select>
                        <div class="text-error-message"></div>
                    </div>



                    <div class="col-md-6">
                        <label class="form-label" for="edit_numero_serie">Número de Serie <span
                                style="color:red;">*</span></label>
                        <input type="text" class="form-control campo-obligatorio validar-numeros-letras"
                            name="numero_serie" id="edit_numero_serie" placeholder="Ingrese el Número de Serie">
                        <div class="text-error-message"></div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label" for="edit_estado_equipo">Estado</label>
                        <select class="form-select no-delete-value" name="estado_equipo" id="edit_estado_equipo">
                            <option value="">Seleccione el estado</option>
                            {% for est in estado %}
                                {% if est.idEstado_equipo != 2 %}
                                    <option value="{{ est.idEstado_equipo }}">
                                        {{ est.nombreEstado_equipo }}
                                    </option>
                                {% endif %}
                            {% endfor %}
                        </select>                        
                        <div class="text-error-message"></div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label" for="edit_codigoproveedor">Código de Proveedor: </label>
                        <input type="text" class="form-control validar-numero" name="codigoproveedor"
                            id="edit_codigoproveedor" placeholder="Ingrese Código del Proveedor">
                        <div class="text-error-message"></div>
                    </div>

                    <div id="edit_camposTelefono" style="display:none;">
                        <h5 class=" mb-3">Datos del Teléfono</h5>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label" for="edit_numero">Número de Teléfono</label>
                                <input type="text" class="form-control validar-numero" name="numero" id="edit_numero"
                                    maxlength="12" placeholder="Ingrese el Número de Teléfono">
                                <div class="text-error-message"></div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label" for="edit_imei">IMEI</label>
                                <input type="text" class="form-control validar-numero" name="imei" id="edit_imei"
                                    maxlength="16" placeholder="Ingrese el IMEI">
                                <div class="text-error-message"></div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label" for="edit_mac">Mac</label>
                                <input type="text" class="form-control validar-mac" name="mac" id="edit_mac"
                                    maxlength="17" placeholder="Ingrese la dirección Mac">
                                <div class="text-error-message"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <label class="form-label" for="edit_observacion_equipo">Observación</label>
                        <textarea class="form-control" id="edit_observacion_equipo" name="observacion_equipo" rows="3"
                            placeholder="Ingrese observaciones"></textarea>
                    </div>

                    <div class="col-12 text-end">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" id="btnActualizarEquipo" class="btn btn-primary">Actualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para agregar incidencia -->
<div class="modal fade" id="add_incidencia" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Encabezado -->
            <div class="modal-header">
                <h5 class="modal-title">Registrar Nueva Incidencia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <!-- Contenido -->
            <div class="modal-body">
                <form action="/incidencia/add_incidencia" method="POST" id="form_add_incidencia"
                    enctype="multipart/form-data">
                    <input class="no-delete-value" type="hidden" id="idEquipo" name="idEquipo" value="">

                    <div class="mb-3">
                        <label for="nombreIncidencia" class="form-label">Tipo de Incidencia</label>
                        <select class="form-control" id="nombreIncidencia" name="nombreIncidencia" required>
                            <option value="" disabled selected>Seleccione tipo de incidencia</option> <!-- Placeholder -->
                            <option value="Robo">Robo</option>
                            <option value="Perdido">Perdido</option>
                            <option value="Dañado/Averiado">Dañado/Averiado</option>
                        </select>
                    </div>
                    
                    <div class="mb-3">
                        <label for="fechaIncidencia" class="form-label">Fecha de la incidencia</label>
                        <input type="date" class="form-control validar-fecha-30-0" id="fechaIncidencia"
                            name="fechaIncidencia" required>
                    </div>
                    <div class="mb-3">
                        <label for="observacionIncidencia" class="form-label">Observaciones</label>
                        <textarea class="form-control" id="observacionIncidencia" name="observacionIncidencia"
                            rows="3"></textarea>
                    </div>
                    <!-- Footer de botones -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal para exportar excel-->
<div class="modal fade" id="exportModal" tabindex="-1" aria-labelledby="exportModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg"  style="margin-top: 5%;">
        <div class="modal-content">

            <!-- Encabezado del modal con título centrado -->
            <div class="modal-header justify-content-center">
                <h5 class="modal-title w-100 text-center" id="exportModalLabel">Exportar Excel</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>

            <!-- Cuerpo del modal -->
            <div class="modal-body">
                <!-- Subtítulo Filtros, alineado con los selectores -->
                <div class="row mb-3">
                    <div class="col-12">
                        <h6 class="mb-0">Filtros</h6>
                    </div>
                </div>

                <!-- Primera fila: Provincia, Unidad, Tipo -->
                <div class="row mb-3">
                    <div class="col">
                        <label for="provinciaSelect" class="form-label">Provincia</label>
                        <select id="provinciaSelect" class="form-select">
                            <option value="" selected>Seleccione provincia</option>
                            {% for prov in provincia%}
                            <option value="{{ prov.idProvincia }}">{{ prov.nombreProvincia }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <label for="unidadSelect" class="form-label">Unidad</label>
                        <select id="unidadSelect" class="form-select">
                            <option selected disabled>Seleccione unidad</option>
                            {% for unidad in Unidad %}
                            <option value="{{ unidad.idUnidad }}">{{ unidad.nombreUnidad }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <label for="tipoSelect" class="form-label">Tipo</label>
                        <select id="tipoSelect" class="form-select">
                            <option selected disabled>Seleccione tipo</option>
                            {% for tipo in tipo_equipo %}
                            <option value="{{ tipo.idTipo_equipo }}">{{ tipo.nombreTipo_equipo }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- Segunda fila: Estado, Fecha Inicio, Fecha Fin -->
                <div class="row mb-3">
                    <div class="col">
                        <label for="estadoSelect" class="form-label">Estado</label>
                        <select id="estadoSelect" class="form-select">
                            <option selected disabled>Seleccione estado</option>
                            {% for esta in estado %}
                            <option value="{{ esta.idEstado_equipo }}">{{ esta.nombreEstado_equipo }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <label for="fechaInicio" class="form-label">Fecha Inicio</label>
                        <input type="date" id="fechaInicio" class="form-control">
                    </div>
                    <div class="col">
                        <label for="fechaFin" class="form-label">Fecha Fin</label>
                        <input type="date" id="fechaFin" class="form-control">
                    </div>
                </div>
            </div>

            <!-- Pie del modal con botones -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" >Exportar</button>
            </div>
        </div>
    </div>
</div>




<script src="{{ url_for('static', filename='js/Equipo/equipo.js') }}"></script>