<!-- Modal para agregar-->
<div class="modal fade" id="addEquipoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="addEquipoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addEquipoModalLabel">Agregar Nuevo Equipo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form action="/add_equipo" method="POST" id="addEquipoForm" class="row g-3">

                    <div class="col-md-6">
                        <label class="form-label" for="marcaSelect">Marca <span style="color:red;">*</span></label>
                        <select class="form-select campo-obligatorio" id="marcaSelect" onchange="cargarTipos()">
                            <option value="">Seleccione una marca</option>
                        </select>
                        <div class="text-error-message"></div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label" for="tipoSelect">Tipo Equipo <span style="color:red;">*</span></label>
                        <select class="form-select campo-obligatorio" id="tipoSelect" onchange="cargarModelos()">
                            <option value="">Seleccione un tipo</option>
                        </select>
                        <div class="text-error-message"></div>
                    </div>

                    <div class="col-md-6">
                        <input type="hidden" name="modelo_equipo" id="modelo_para_equipo" />
                        <label class="form-label" for="modeloSelect">Modelo <span style="color:red;">*</span></label>
                        <select class="form-select campo-obligatorio" id="modeloSelect"
                            onchange="actualizarModeloSeleccionado()">
                            <option value="">Seleccione un modelo</option>
                        </select>
                        <div class="text-error-message"></div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label" for="codigo_inventario">Código Inventario <span
                                style="color:red;">*</span></label>
                        <input type="text" class="form-control campo-obligatorio validar-numero"
                            name="codigo_inventario" id="codigo_inventario"
                            placeholder="Ingrese el Código de Inventario">
                        <div class="text-error-message">error</div>
                    </div>


                    <div class="col-md-6">
                        <label class="form-label" for="codigo_Unidad">Unidad <span style="color: red;">*</span></label>
                        <select class="form-select campo-obligatorio" name="codigo_Unidad" id="codigo_Unidad">
                            <option value="" selected>Seleccione la Unidad</option>
                            {% for unidad in Unidad %}
                            <option value="{{ unidad.idUnidad }}">{{ unidad.nombreUnidad }}</option>
                            {% endfor %}
                        </select>
                        <div class="text-error-message"></div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label" for="nombre_orden_compra">Orden de Compra <span
                                style="color: red;">*</span></label>
                        <select class="form-select campo-obligatorio" name="nombre_orden_compra">
                            <option value="">Seleccione el Orden de Compra</option>
                            {% for ordenc in orden_compra %}
                            <option value="{{ ordenc.idOrden_compra }}">{{ ordenc.nombreOrden_compra }}</option>
                            {% endfor %}
                        </select>
                        <div class="text-error-message"></div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label" for="numero_serie">Número de Serie <span
                                style="color:red;">*</span></label>
                        <input type="text" class="form-control campo-obligatorio validar-numeros-letras"
                            name="numero_serie" id="numero_serie" placeholder="Ingrese el Número de Serie">
                        <div class="text-error-message"></div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label" for="codigoproveedor">Código de Proveedor: </label>
                        <input type="text" class="form-control validar-numero" name="codigoproveedor"
                            placeholder="Ingrese Código del Proveedor">
                        <div class="text-error-message"></div>
                    </div>

                    <div id="camposTelefono" style="display: none;">
                        <h5 class="mb-3">Datos del Teléfono</h5>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label" for="numero">Número de Teléfono</label>
                                <input type="text" class="form-control validar-numero" name="numero" id="numero"
                                    maxlength="12" placeholder="Ingrese el Número de Teléfono">
                                <div class="text-error-message"></div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label" for="imei">IMEI</label>
                                <input type="text" class="form-control validar-numero" name="imei" id="imei"
                                    maxlength="17" placeholder="Ingrese el IMEI">
                                <div class="text-error-message"></div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label" for="mac">Mac</label>
                                <input type="text" class="form-control validar-mac" name="mac" id="mac" maxlength="16"
                                    placeholder="Ingrese la dirección Mac">
                                <div class="text-error-message"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <label class="form-label" for="observacion_equipo">Observación</label>
                        <textarea class="form-control" id="observacion_equipo" name="observacion_equipo" rows="3"
                            placeholder="Ingrese observaciones"></textarea>
                    </div>

                    <div class="col-12 text-end">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





<script src="{{ url_for('static', filename='js/Equipo/equipo.js') }}"></script>