{% extends "layout.html" %}
{% block body %}
{% from 'funciones_macro.html' import paginacion %}

<div class="row">
    <div >
        <!-- Botón para abrir el modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addMarcaModal">
            Agregar Marca
        </button>

        <!-- Modal -->
        <div class="modal fade" id="addMarcaModal" tabindex="-1" aria-labelledby="addMarcaModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addMarcaModalLabel">Agregar Marca</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="form_addMarcaModal" action="/add_marca_equipo" method="POST">
                            <div class="mb-3">
                                <label for="nombre_marca_equipo" class="form-label">Nombre Marca</label>
                                <input type="text" class="form-control campo-obligatorio" id="nombre_marca_equipo"
                                    name="nombre_marca_equipo" placeholder="Ingrese una Marca">
                                <div class="text-error-message"></div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" form="form_addMarcaModal" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <h2 class="mb-4">Marcas de Equipos</h2>
            <div class="table-toolbar">
                <select class="actions-select">
                    <option value="" selected disabled>Acciones</option>
                    <option value="edit" 
                    data-bs-toggle="modal" 
                    data-bs-target="#editMarcaModal"
                    data-nombre="{{marca_equipo.nombre_marca_equipo}}">Editar</option>
                    <option value="delete">Eliminar</option>
                </select>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead class="col-md-12">
                        <tr>
                            <th class="checkbox-column" onclick="toggleSelectAll()">Todo</th>
                            <th onclick="sortTable(1,this)" class="sortable-column">
                                Nombre Marca
                            </th>
                        </tr>
                    </thead>
                    <tbody id="myTableBody">
                        {% if marca_equipo %}
                        {% for marcae in marca_equipo %}
                        <tr data-id="{{ marcae.idMarca_Equipo }}">
                            <td class="checkbox-column">
                                <input type="checkbox" class="checkbox-table row-checkbox">
                            </td>
                            <td>{{ marcae.nombreMarcaEquipo }}</td>
                        </tr>
                        {% endfor %}
                        {% else %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4" class="text-center">No hay datos disponibles.</td>
                        </tr>
                        {% endif %}
                    </tfoot>

                </table>
            </div>
        </div>

    </div>

    <!-- Modal para editar marcas -->
    <div class="modal fade" id="editMarcaModal" tabindex="-1" aria-labelledby="editMarcaModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editMarcaModalLabel">Editar Marca</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <form id="editMarcaForm" method="POST">
                    <form id="editMarcaForm" method="POST" action="">
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="edit_nombreMarca" class="form-label">Nombre Marca</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="edit_nombreMarca" 
                                    name="nombre_marca_equipo" 
                                    placeholder="Ingresa el nombre de la marca" 
                                    required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                        </div>
                    </form>                    
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/Equipo/marcaEquipo.js') }}"></script>


{% endblock %}