{% extends "layout.html" %}
{% block body %}
{% from 'funciones_macro.html' import paginacion %}

<div class="row">
    <div class="col">
        <div>
            <h2>Tipos de equipos</h2>

            <!-- Barra de herramientas -->
            <div class="toolbar">
                <div class="toolbar-1">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addTipoEquipoModal">Agregar</button>
                </div>
                <div class="toolbar-2">
                    <input name="palabra" type="text" class="search-box" placeholder="Buscar tipo de equipo..." id="buscador" onkeyup="busqueda('myTableBody')" />
                </div>
                <div class="toolbar-3">
                    <button type="button" class="btn btn-warning edit-button" data-bs-toggle="tooltip" data-bs-title="Editar" disabled><i class="bi bi-pencil-square"></i></button>
                    <button type="button" class="btn btn-danger delete-button" data-title="Eliminar tipo(s) de equipo" data-message="¿Estás seguro de que deseas eliminar los tipos seleccionados? Esto afectará las relaciones asociadas." data-url="" data-bs-toggle="tooltip" data-bs-title="Eliminar" disabled><i class="bi bi-trash-fill"></i></button>
                </div>
            </div>

            <!-- Tabla de tipos de equipos -->
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <!-- Encabezado de tabla -->
                    <thead>
                        <tr>
                            <th class="checkbox-column" onclick="toggleSelectAll()">Todo</th>
                            <th class="sortable-column" onclick="sortTable(1,this)">Tipo de equipo</th>
                            <th class="sortable-column" onclick="sortTable(2,this)">Marcas asociadas</th>
                        </tr>
                    </thead>
                    <!-- Contenido de la tabla -->
                    <tbody id="myTableBody">
                        {% if tipo_equipo %}
                            {% for tipoe in tipo_equipo %}
                            <tr data-id="{{ tipoe.idTipo_equipo }}" data-nombre="{{ tipoe.nombreTipo_equipo }}" data-marcas="{{ tipoe.marcas }}">
                                <td class="checkbox-column"><input type="checkbox" class="checkbox-table row-checkbox"></td>
                                <td class="toCheck">{{ tipoe.nombreTipo_equipo }}</td>
                                <td class="toCheck">{{ tipoe.marcas if tipoe.marcas else "Sin marcas asociadas" }}</td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="3" class="text-center">No hay datos disponibles.</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

        {% include 'Equipo/tipo_equipo.modals.html' %}
        <script src="../../static/js/Equipo/tipoEquipo.js"></script>

        {% endblock %}
    </div>
</div>