{% extends "layout.html" %}
{% block body %}
<br/>
    <div style="margin: auto; width: 50%; text-align: center;">
    <input name="busqueda" type="text" class="search-box" placeholder="Search..."
     style="font-size: 30px; width: 100%;"
        value="{{busqueda}}" id="buscador" onkeyup="busqueda()">
    </div>
<div class="nav-search">
</div>
<table id="posts">
    <thead>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Botones</td>
        </tr>
    </thead>
    <tbody id="myTBody">
        {% for item in items %}
        <tr id="{{item.id}}">
            <td class="toCheck" id="">{{item.tipo}}</td>
            <td class="toCheck" id="clave">{{item.clave}}</td>
            <td class="toCheck" id="nombre">{{item.nombre}}</td>
            <td class="toCheck">{{item.codigo}}</td>
            <td>
                {% if item.tipo == "equipo" %}
                <a href="/equipo/buscar_equipo/{{item.id}}" class="nav-button2">Buscar</a>
                {% endif %}
                {% if item.tipo == "funcionario" %}
                <a href="/funcionario/buscar_funcionario/{{item.id}}" class="nav-button2">Buscar</a>
                {% endif %}
                {% if item.tipo == "unidad" %}
                <a href="/unidad/buscar_unidad/{{item.id}}" class="nav-button2">Buscar</a>
                {% endif %}
                {% if item.tipo == "incidencia" %}
                <a href="/incidencia/buscar/{{item.id}}" class="nav-button2">Buscar</a>
                {% endif %}
                {% if item.tipo == "asignacion" %}
                <a href="/asignacion/buscar/{{item.id}}" class="nav-button2">Buscar</a>
                {% endif %}
                {% if item.tipo == "traslado" %}
                <a href="/traslado/buscar/{{item.id}}" class="nav-button2">Buscar</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
<script>
    //buscar al iniciar la pagina
    busqueda()
</script>
{% endblock %}