<!-- esta seccion se utiliza para mostrar los errores a traves de flash siempre y cuando existan errores -->
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}

    <p>{{message}}</p>

{% endfor %}
{% endif %}
{% endwith %}
<!-- Se termina la seccion de errores -->

<!-- ----- -->
<h1>Orden de compra</h1><br>
<form action="/add_codigo_proveedor" method="POST">
    <input type="text" name="codigo_proveedor" placeholder="Codigo del proveedor">
    <select name="nombre_proveedor" id="" >
        <option value=""></option>
        {% for pro in proveedor %}
            <option value="{{ pro.idProveedor }}">{{pro.nombreProveedor}}</option>
        {% endfor %}
    </select>    
    <button type="submit"> Guardar</button>    
</form>
<br>
<table> 
    <h2>Ordenes de compra</h2>
    <thead>
        <tr>
            <td>Modelo equipo</td>
            <td>Marca</td>            
            <td>Acciones</td>
        </tr>
    </thead>
    <tbody>
        <!-- Se inicia iteracion for para mostrar todos los proveedores -->
        {% for cp in codigo_proveedor %}
        <tr>
            <td>{{cp.idCodigo_proveedor}}</td>
            {% if  proveedor.idProveedor == codigo_proveedor.idProveedor %}
                <td>{{cp.nombreProveedor}}</td>
            {% endif %}
            <td>
                <a href="/edit_codigo_proveedor/{{cp.idCodigo_proveedor}}">Editar</a>
                <a class="btn-delete" href="/delete_codigo_proveedor/{{cp.idCodigo_proveedor}}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>