{% extends "layout.html" %}
{% block body %}

<div class="container py-5">
    <!-- Mensajes de alerta -->
    <div class="row justify-content-center mb-4">
        <div class="col-md-8">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>

    <!-- Contenedor principal del dashboard -->
    <div class="row justify-content-center">
        <div class="col-md-12 bg-light p-4 rounded shadow">
            <h2 class="text-center mb-4">Gestión de Recursos</h2>
            <div class="row text-center">
                <!-- Categoría 1: Gestión de Equipos -->
                <div class="col-md-3 mb-4 d-flex flex-column align-items-center">
                    <h5 class="text-dark mb-3"><i class="fas fa-tools me-2"></i>Gestión de Equipos</h5>
                    <div class="d-flex flex-column align-items-center">
                        <a href="/equipo" class="text-decoration-none text-dark mb-3">
                            <i class="bi bi-laptop fs-5"></i>
                            <span>Equipos</span>
                        </a>
                        <a href="/marca_equipo" class="text-decoration-none text-dark mb-3">
                            <i class="bi bi-list-columns fs-5"></i>
                            <span>Marcas de Equipos</span>
                        </a>
                        <a href="/modelo_equipo" class="text-decoration-none text-dark mb-3">
                            <i class="bi bi-list-nested fs-5"></i>
                            <span>Modelo de Equipos</span>
                        </a>
                        <a href="/tipo_equipo" class="text-decoration-none text-dark mb-3">
                            <i class="bi bi-list-ul fs-5"></i>
                            <span>Tipos de Equipos</span>
                        </a>
                        <a href="/estado_equipo" class="text-decoration-none text-dark mb-3">
                            <i class="bi bi-list fs-5"></i>
                            <span>Estado de Equipos</span>
                        </a>
                    </div>
                </div>

                <!-- Categoría 2: Gestión de Recursos Humanos -->
                <div class="col-md-2 mb-4 d-flex flex-column align-items-center">
                    <h5 class="text-dark mb-3"><i class="fas fa-users me-2"></i>Gestión de Recursos Humanos</h5>
                    <div class="d-flex flex-column align-items-center">
                        <a href="/funcionario" class="text-decoration-none text-dark mb-3">
                            <i class="bi bi-person fs-5"></i>
                            <span>Funcionarios</span>
                        </a>
                        <a href="/asignacion" class="text-decoration-none text-dark mb-3">
                            <i class="bi bi-person-check fs-5"></i>
                            <span>Asignaciones</span>
                        </a>
                    </div>
                </div>

                <!-- Categoría 3: Gestión de Proveedores -->
                <div class="col-md-2 mb-4 d-flex flex-column align-items-center">  
                    <h5 class="text-dark mb-3"><i class="fas fa-truck me-2"></i>Gestión de Proveedores</h5>
                    <div class="d-flex flex-column align-items-center">
                        <a href="/proveedor" class="text-decoration-none text-dark mb-3">
                            <i class="bi bi-shop fs-5"></i>
                            <span>Proveedores</span>
                        </a>
                        <a href="/orden_compra" class="text-decoration-none text-dark mb-3">
                            <i class="bi bi-file-earmark-spreadsheet fs-5"></i>
                            <span>Orden de Compra</span>
                        </a>
                        <a href="/tipo_adquisicion" class="text-decoration-none text-dark mb-3">
                            <i class="bi bi-file-earmark fs-5"></i>
                            <span>Tipo de Adquisición</span>
                        </a>
                    </div>
                </div>

                <!-- Categoría 4: Operaciones -->
                <div class="col-md-2 mb-4 d-flex flex-column align-items-center">
                    <h5 class="text-dark mb-3"><i class="fas fa-cogs me-2"></i>Operaciones</h5>
                    <div class="d-flex flex-column align-items-center">
                        <a href="/traslado" class="text-decoration-none text-dark mb-3">
                            <i class="bi bi-arrow-repeat fs-5"></i>
                            <span>Traslados</span>
                        </a>
                        <a href="/incidencia" class="text-decoration-none text-dark mb-3">
                            <i class="bi bi-exclamation-triangle-fill"></i>
                            <span>Incidencias</span>
                        </a>
                        
                    </div>
                </div>

                <!-- Categoría 5: Organización -->
                <div class="col-md-2 mb-4 d-flex flex-column align-items-center">
                    <h5 class="text-dark mb-3"><i class="fas fa-sitemap me-2"></i>Organización</h5>
                    <div class="d-flex flex-column align-items-center">
                        <a href="/Unidad" class="text-decoration-none text-dark mb-3">
                            <i class="bi bi-house-door fs-5"></i>
                            <span>Unidades</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}