{% extends "layout.html" %}
{% block body %}
{% from 'funciones_macro.html' import paginacion %}

<div class="row">

    <div class="col-md-5">
        <!-- esta seccion se utiliza para mostrar los errores a traves de flash siempre y cuando existan errores -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}

        <div class="custom-alert" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        {% endfor %}
        {% endif %}
        {% endwith %}
        <!-- Se termina la seccion de errores -->

        <!-- ----- -->
        <button class="nav-button" onclick="showDiv()">Agregar</button>
        <div class="card card-body" id="formulario", style="display: none;">
            <form action="/add_devolucion" method="POST" class="mi-formulario">
                <label for="fechaDevolucion"> Fecha de Devolucion: </label>
                <input type="date" name="fechaDevolucion" id="fechaDevolucion"/>

                <br>
                <script>
                    date = new Date();
                    year = date.getFullYear();
                    month = date.getMonth() + 1;
                    day = date.getDate();
                    if (month < 10) {
                        month = "0" + month
                    }
                    formatedDate = year + "-" + month + "-" + day
                    //console.log(formatedDate)
                    document.getElementById("fechaDevolucion")
                        .setAttribute("value", formatedDate);
                </script>


                <label for="observacionDevolucion">Observacion de Devolucion:</label>
                <br>
                <textarea id="observacionDevolucion" name="observacionDevolucion" rows="4" cols="50"></textarea>
                <br>
                <label for="rutaactaDevolucion"> Acta de Devolucion: </label>
                <input type="text" name="rutaactaDevolucion">
                <br>
                <label for="ActivoDevolucion"> Activo?: </label>
                <input type="checkbox" id="ActivoDevolucion" name="ActivoDevolucion" value="">
                <br>
                <label for="rutFuncionario"> Rut Funcionario: </label>
                <select name="rutFuncionario" id="">
                    <option value="">Seleccione el Funcionario</option>
                    {% for f in funcionario %}
                    <option value="{{ f.rutFuncionario }}">{{ f.rutFuncionario }}</option>
                    {% endfor %}
                </select>
                <br>
                <button class="agregar-button"> Agregar</button>
            </form>
        </div>
    </div>
    <h2>Devoluciones</h2>
    <div style="overflow-x:auto;">
        <table id="posts">
            <thead>
                <tr>
                    <td onclick="sortTable(0)">Fecha de Devolucion</td>
                    <td onclick="sortTable(1)">Observacion de Devolucion</td>
                    <td onclick="sortTable(2)">Acta de Devolucion</td>
                    <td onclick="sortTable(3)">Estado</td>
                    <td onclick="sortTable(4)">Funcionario</td>
                    <td>Operations</td>
                </tr>
            </thead>
            <tbody id="myTableBody">
                <!-- Se inicia iteracion for para mostrar todos los proveedores -->
                {% for d in devolucion %}
                <tr>
                    <td>{{d.fechaDevolucion}}</td>
                    <td>{{d.observacionDevolucion}}</td>
                    <td>{{d.rutaactaDevolucion}}</td>
                    <td>{{d.ActivoDevolucion}}</td>
                    {% if funcionario.rutFuncionario == devolucion.rutFuncionario %}
                    <td>{{d.rutFuncionario}}</td>
                    {% endif %}
                    <td>
                        <a href="/edit_devolucion/{{d.idDevolucion}}" class="success-button">Editar</a>
                        <a href="/delete_devolucion/{{d.idDevolucion}}" class="btn btn-danger delete-button">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ paginacion("devolucion", page, lastpage) }}

        {% endblock %}