{% extends "layout.html" %}
{% block body %}

<a class="nav-button" href="/tipo_adquisicion">Volver</a>
<div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
<form action="/update_tipoa/{{tipo_adquisicion.idTipo_adquisicion}}" method="POST"class="mi-formulario">
    <input type="text" name="nombre_tipoa" placeholder="Nombre tipo adquisicion" value="{{tipo_adquisicion.nombreTipo_adquisicion}}">
    <button type="submit" class="agregar-button"> Guardar</button>  
</form>
{% endblock %}