{% extends "layout.html" %}
{% block body %}
{% from 'funciones_macro.html' import paginacion %}

<div class="row">

    <div class="col-md-5">
        <!-- esta seccion se utiliza para mostrar los errores a traves de flash siempre y cuando existan errores -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}

        <div class="custom-alert" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        {% endfor %}
        {% endif %}
        {% endwith %}
        <!-- Se termina la seccion de errores -->

        <!-- ----- -->
        <button class="nav-button" onclick="showDiv()">Agregar</button>
        <div id="error-message" style="display: none;" class="error-message"></div>
        <div class="card card-body" id="formulario" style="display: flex; justify-content: center;">
            <form action="/add_funcionario" method="POST" class="mi-formulario">
                <div class="form-group">
                    <label for="rut_funcionario">Rut funcionario</label>
                    <input class= "rut-input" type="text" name="rut_funcionario" placeholder="xxxxxxxx-x"maxlength="20">
                    <div id="error-message" style="display: none;" class="error-message"></div>
                    <br>
                    <label for="nombre_funcionario">Nombre Funcionario: </label>
                    <input class="solo-letras" type="text" name="nombre_funcionario" placeholder="Nombre funcionario"
                    maxlength="45">
                    <div id="error-message" style="display: none;" class="error-message"></div>
                    <br>
                    <label for="correo_funcionario">Correo Funcionario: </label>
                    <input type="text" class="validar-correo" name="correo_funcionario" placeholder="Correo funcionario"
                    maxlength="45">
                    <br>
                    <label for="cargo_funcionario"> Cargo: </label>
                    <input class= "solo-letras" type="text" name="cargo_funcionario" placeholder="Cargo"
                    maxlength="45">
                    <div id="error-message" style="display: none;" class="error-message"></div>
                    <br>
                    <label for="codigo_Unidad">Unidad: </label>
                    <select name="codigo_Unidad" id="">
                        <option value="">Elija la Unidad</option>
                        {% for ubi in Unidad %}
                        <option value="{{ ubi.idUnidad }}">{{ubi.nombreUnidad}}</option>
                        {% endfor %}
                    </select>
            </form>
            <button class="agregar-button"> Agregar Funcionario</button>
        </div>
    </div>
    <h2>Funcionarios</h2>
    <div style="margin: auto; padding: 0px; width:0px; background:black; text-align:center">
        <div style="display:flex;">
            <form action="/buscar_funcionario" method="POST">
                <input name="palabra" type="text" class="search-box" placeholder="Buscar funcionario..." id="buscador"
                    onkeyup="busqueda('myTableBody')" />
            </form>
        </div>
    </div>
    <div style="overflow-x:auto;">
        <table id="posts">
            <thead>
                <tr>
                    <td onclick="sortTable(0)">Rut Funcionario</td>
                    <td onclick="sortTable(1)">Nombre Funcionario</td>
                    <td onclick="sortTable(2)">Cargo</td>
                    <td onclick="sortTable(3)">Código Unidad</td>
                    <td onclick="sortTable(4)">Correo</td>
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody id="myTableBody">
                <!-- Se inicia iteracion for para mostrar todos los proveedores -->
                {% for fun in funcionario %}
                <tr>
                    <td class="toCheck">{{fun.rutFuncionario}}</td>
                    <td class="toCheck">{{fun.nombreFuncionario}}</td>
                    <td class="toCheck">{{fun.cargoFuncionario}}</td>
                    <td class="toCheck">{{fun.nombreUnidad}}</td>
                    <td class="toCheck">{{fun.correoFuncionario}}</td>
                    <td>
                        <a href="/edit_funcionario/{{fun.rutFuncionario}}" class="success-button">Editar</a>
                        <a href="/delete_funcionario/{{fun.rutFuncionario}}" class="delete-button">Eliminar</a>
                        <a href="/mostrar_asociados_funcionario/{{fun.rutFuncionario}}" class="info-button">Equipos</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

        <script src="../static/js/main.js"></script>

        {{ paginacion("funcionario", page, lastpage) }}

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="../static/js/main.js"></script>
{% endblock %}