<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Inventario JUNJI</title>

    <link rel="icon" href="{{url_for('static', filename='img/logo_junji.jpg')}}" />
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/5457f9e89a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
</head>

<body>
    <div class="container-home">
        <aside id="sidebar">
            <input type="checkbox" name="" id="toggler">
            <label for="toggler" class="toggle-btn">
                <i class="lni lni-grid-alt"></i>
            </label>
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a href="/" class="sidebar-link">
                        <i class="lni lni-dashboard"></i>
                        <span>Inicio</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/equipo" class="sidebar-link">
                        <i class="lni lni-laptop-phone"></i>
                        <span>Equipos </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/marca_equipo" class="sidebar-link">
                        <i class="lni lni-laptop"></i>
                        <span>Marcas de Equipos </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/modelo_equipo" class="sidebar-link ">
                        <i class="lni lni-list"></i>
                        <span>Modelo de Equipos</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/tipo_equipo" class="sidebar-link ">
                        <i class="lni lni-line-dotted"></i>
                        <span>Tipo de Equipos</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/funcionario" class="sidebar-link">
                        <i class="lni lni-user"></i>
                        <span>Funcionarios</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/proveedor" class="sidebar-link">
                        <i class="lni lni-network"></i>
                        <span>Proveedores</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/Unidad" class="sidebar-link">
                        <i class="lni lni-map"></i>
                        <span>Unidad</span>
                    </a>
                <li class="sidebar-item">
                    <a href="/orden_compra" class="sidebar-link">
                        <i class="lni lni-customer"></i>
                        <span>Orden de Compra</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/tipo_adquisicion" class="sidebar-link">
                        <i class="lni lni-files"></i>
                        <span>Tipo Adquisicion</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/estado_equipo" class="sidebar-link">
                        <i class="lni lni-map"></i>
                        <span>Estado de Equipo</span>
                    </a>
                </li>
                
                <li class="sidebar-item">
                    <a href="/devolucion" class="sidebar-link">
                        <i class="lni lni-package"></i>
                        <span>Devoluciones</span>
                    </a>
                </li>
                
                <li class="sidebar-item">
                    <a href="/asignacion" class="sidebar-link">
                        <i class="lni lni-calculator-alt"></i>
                        <span>Asignaciones</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/traslado" class="sidebar-link">
                        <i class="lni lni-travel"></i>
                        <span>Traslados</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/incidencia" class="sidebar-link">
                        <i class="lni lni-stamp"></i>
                        <span>Incidencias</span>
                    </a>
                </li>
            </ul>
            <div class="sidebar-footer">
                <a href="/desloguear" class="sidebar-link">
                    <i class="lni lni-exit"></i>
                    <span>Logout</span>
                </a>
            </div>
        </aside>
        <div class="main">
            <div class="dashboard-navbar">
                <form action="/buscar" method="GET" style="position: absolute; top: 20px; left: 38%;">
                    <div class="nav-search">
                        <input name="busqueda" type="text" class="search-query" placeholder="Search...">
                        <button class="btn" type="submit">Search</button>
                    </div>
                </form>
                <div class="navbar-content">
                    <ul class="main-nav">
                        <li class="user-link">
                            <a href="#">
                                <img src="static/img/account.png" alt="Profile" class="avatar">
                            </a>
                            <div class="user-link-dropdown">
                                <a href="/ingresar" class="card">{{session['user']}}</a>
                                <a href="/desloguear" class="card">Desloguear</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content">
                <h2>Gestor de Inventario JUNJI</h2>
                {% block body %}
                {% endblock %}
            </div>
            <footer>
                <div class="footer-wrap">
                    <div class="copyright-text">
                        <ul>
                            <li>
                                <p>© Copyright 2024 by <strong>JUNJI</strong></p>
                            </li>
                            <li>version: 1.0</li>
                        </ul>
                    </div>
                    <ul class="social-icons">
                        <li><a href="https://www.junji.cl/">Pagina web</a></li>
                    </ul>
                </div>
            </footer>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>