{% extends "layout.html" %}
{% block body %}
{% from 'funciones_macro.html' import paginacion %}

<!-- esta seccion se utiliza para mostrar los errores a traves de flash siempre y cuando existan errores -->
<div class="row">
    <div class="col-md-5">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}

        <div class="custom-alert" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        {% endfor %}
        {% endif %}
        {% endwith %}
        <!-- Se termina la seccion de errores -->

        <!-- ----- -->

        <button class="nav-button" onclick="showDiv()">Agregar</button>
        <div class="card card-body" id="formulario" style="display: none;">
            <form action="/crear_tipo_equipo" method="POST" class="mi-formulario">
                <div class="form-group">
                    <label for="nombreTipo_equipo">Nombre Tipo Equipo:</label>
                    <input type="text" id="nombreTipo_equipo" name="nombreTipo_equipo" required maxlength="45">
                </div>
                {#<label for="nombre_marca_equipo"> Marca Equipo: </label>#}
                {#<select name="nombre_marca_equipo" id="">#}
                    {#<option value="">Elija la Marca del Equipo</option>#}
                    {#{% for marcae in marcas %}#}
                    {#<option value="{{ marcae.idMarca_Equipo }}">{{marcae.nombreMarcaEquipo}}</option>#}
                    {#{% endfor %}#}
                {#</select>#}
                <button type="submit" class="agregar-button">
                    Agregar
                </button>
            </form>
        </div>
    </div>
    <h2>Tipos de equipo</h2>
    <div style="overflow-x:auto;">
        <table id="posts">
            <thead>
                <tr>
                    <td onclick="sortTable(0)">Nombre tipo de equipo</td>
                    <td onclick="sortTable(1)">Nombre Marca</td>
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody id="myTableBody">
                <!-- Se inicia iteracion for para mostrar todos los proveedores -->
                {% for tipoe in tipo_equipo %}
                <tr>
                    <td>{{tipoe.nombreTipo_equipo}}</td>
                    <td>
                        {% for marca in tipoe.marcas %}
                       {#} 
                        {% for m in marca %}
                           {{m}} 
                        {% endfor %}
                        #}
                        
                            {{marca.nombreMarcaEquipo}} 

                        {% endfor %}
                    </td>
                    <td>
                        {#<a href="/edit_tipo_equipo/{{tipoe.idTipo_equipo}}" class="success-button">Editar</a>#}
                        <a href="/delete_tipo_equipo/{{tipoe.idTipo_equipo}}" class="delete-button">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {{ paginacion("tipo_equipo", page, lastpage) }}
    </div>
</div>
{% endblock %}