<div class="modal fade" id="modal-view" tabindex="-1" aria-labelledby="modal-view-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-view-title">Título del modal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <!-- Aquí generamos dinámicamente los datos con Jinja -->
                <p id="modal-view-message">Mensaje del modal</p>
            </div>
        </div>
    </div>
</div>